{% extends "base.html" %}

{% block scripts %}
{{super()}}

<script src="{{ url_for('static', filename='js/citation.js') }}"></script>
<script>
const Cite = require('citation-js').Cite
const doi = '{{ doi | urlencode }}'
try {
  let example = new Cite('https://doi.org/' + doi, { forceType: '@doi/api' })
  let output = example.format('quickstatements')
  $( '#qs' ).text( output );
  output = encodeURIComponent(
    output.replaceAll('\t', '|')
          .replaceAll('\n', '||'))
  htmlOutput = "<a href=\"https://quickstatements.toolforge.org/#/v1=" + output + "\">\n" +
               "  <button class=\"btn btn-primary\">Submit to QuickStatements ↗</button>\n" +
               "</a>\n"
  $( '#qs' ).after( htmlOutput );
} catch (error) {
  const crossrefUrl = 'https://search.crossref.org/search/works?from_ui=yes&q=' + doi
  const crossrefLink = document.createElement('a')
  crossrefLink.setAttribute('href', crossrefUrl)
  crossrefLink.textContent = crossrefUrl
  if (error.message.includes("status code 404")) {
    $( '#qs' ).after( "No metadata found for DOI. Please check the DOI for mistakes. This may be because the publisher has not (yet) submitted metadata to their DOI Registration Agency (e.g. Crossref or DataCite). If the DOI is newly minted, please check again in 1–4 weeks. You can check Crossref at ", crossrefLink )
  } else {
    console.error(error)
  }
}
</script>

{% endblock %}

{% block page_content %}

We found no work in Wikidata with the DOI <a href="https://doi.org/{{ doi | urlencode }}">{{ doi }}</a>. If you would like to create the item for this work, you can use the <a href="https://www.wikidata.org/wiki/Help:QuickStatements">QuickStatements</a> tool by clicking the "Submit to QuickStatements" button (this requires authentication via <a href="https://www.mediawiki.org/wiki/Help:OAuth">OAuth 2.0</a>). Thank you for helping to curate this information.

<h2>QuickStatements</h2>

<pre id="qs"></pre>

{% endblock %}
