{% extends "about_base.html" %}

{% block page_content %}
<h1 id="h1">About</h1>

<h2>Background reading</h2>

<ul>
  <li><a href="https://finnaarupnielsen.wordpress.com/2016/09/21/so-what-can-we-use-wikicite-for/">So what can we use Wikicite for?</a></li>
  <li><a href="https://finnaarupnielsen.wordpress.com/2016/09/30/the-wikidata-scholarly-profile-page/">The Wikidata scholarly profile page</a></li>
</ul>


<h2>Acknowledgment</h2>

<ul>
  <li>Wikicite.
  <li>Lambert Heller. Inspiration from <a href="http://blogs.lse.ac.uk/impactofsocialsciences/2015/07/16/scholarly-profile-of-the-future/">What will the scholarly profile page of the future look like? Provision of metadata is enabling experimentation</a>.</li>
  <li>Egon Willighagen, <a href="https://twitter.com/egonwillighagen/status/784473926944563200">ORCID idea</a>.
  <li>Magnus Manske.</li>
  <li>Jakob Voß.</li>
  <li>Shubhanshu Mishra, <a href="https://twitter.com/TheShubhanshu/status/792752931347062784">inspiration</a> for author profile visualization with LEGOLAS, see, e.g., <a href="http://abel.lis.illinois.edu/legolas/profile_basic">the example for Neil Smalheiser</a>.</li>
</ul>


{% endblock %}
    
