{% extends "base.html" %}

{% block page_content %}
<h1 id="h1">About</h1>

<h2>Background reading</h2>

<ul>
    <li><a href="https://arxiv.org/pdf/1703.04222">Scholia and scientometrics with Wikidata</a>.</li>
    <li><a href="https://finnaarupnielsen.wordpress.com/2016/09/21/so-what-can-we-use-wikicite-for/">So what can we use Wikicite for?</a></li>
    <li><a href="https://finnaarupnielsen.wordpress.com/2016/09/30/the-wikidata-scholarly-profile-page/">The Wikidata scholarly profile page</a></li>
    <li><a href="https://meta.wikimedia.org/wiki/File:WikiCite_2016_report.pdf">WikiCite 2016 Report</a></li>
    <li><a href="https://riojournal.com/article/35820/">Robustifying Scholia: paving the way for knowledge discovery and research assessment through Wikidata</a></li>
</ul>

<h2>FAQ</h2>

<ul>
    <li>See the <a href="https://scholia.toolforge.org/faq">dedicated page</a>.</li>
</ul>

<h3>Presentations</h3>

<ul>
  <li><a href="http://mirror.netcologne.de/CCC/events/wikidatacon/2017/h264-hd/wikidatacon2017-10010-eng-Scholia_hd.mp4">Scholia</a>.
    35 minute presentation including discussion at WikidataCon 2017, Berlin, Germany.</li>
  <li><a href="http://mirror.netcologne.de/CCC/events/wikidatacon/2017/h264-hd/wikidatacon2017-10013-eng-Describing_Software_So_We_Can_Cite_Software_hd.mp4">Describing software so we can cite software</a>.
    11 minute part of presentation and discussion at WikidataCon 2017,
    Berlin, Germany.</li>
</ul>


<h2>Acknowledgment</h2>

<ul>
    <li>Scholia has received funding from:<br />
        <ul>
            <li>the Alfred P. Sloan Foundation under grant number <a href="https://sloan.org/grant-detail/8961">G-2019-11458</a></li>
        </ul>
    </li>
    <li><a href="https://meta.wikimedia.org/wiki/WikiCite">Wikicite</a>.</li>
    <li>Lambert Heller. Inspiration from <a href="http://blogs.lse.ac.uk/impactofsocialsciences/2015/07/16/scholarly-profile-of-the-future/">What will the scholarly profile page of the future look like? Provision of metadata is enabling experimentation</a>.</li>
    <li>Egon Willighagen, <a href="https://twitter.com/egonwillighagen/status/784473926944563200">ORCID idea</a>.</li>
    <li>Magnus Manske.</li>
    <li>Jakob Voß.</li>
    <li>Shubhanshu Mishra, <a href="https://twitter.com/TheShubhanshu/status/792752931347062784">inspiration</a> for author profile visualization with LEGOLAS, see, e.g., <a href="http://abel.lis.illinois.edu/legolas/profile_basic">the example for Neil Smalheiser</a>.</li>
</ul>


<h3>Technical acknowledgement</h3>

<ul>
    <li><a href="http://flask.pocoo.org/">Flask</a>, python web framework (<a href="http://flask.pocoo.org/docs/0.12/license/">BSD license).</li>
	<li><a href="https://getbootstrap.com/">Bootstrap</a>, front-end framework (<a href="https://github.com/twbs/bootstrap/blob/master/LICENSE">MIT license</a>).</li>
	<li><a href="https://jquery.com/">jQuery</a>, Javascript library (<a href="https://jquery.org/license/">jQuery license</a>, typically MIT license).</li>
  <li><a href="https://datatables.net/">DataTables</a>, table-rendering Javascript library (MIT license).</li>
  <li><a href="https://glyphicons.com/">Glyphicon</a> Halflings</li>
  <li>...</li>
</ul>


<h2>Citation</h2>

<pre>
@InProceedings{NielsenF2017Scholia,
  author = 	 {Finn {\AA}rup Nielsen and Daniel Mietchen and Egon
                  Willighagen},  
  title = 	 {Scholia and scientometrics with Wikidata},
  booktitle =    {Scientometrics 2017},
  year = 	 {2017},
  arxiv =        {1703.04222},
  wikidata =     {Q28942417},
  URL =          {https://arxiv.org/pdf/1703.04222},
}
</pre>


{% endblock %}
    
