{% extends "author_base.html" %}


{% block scripts %}
{{super()}}

<script type="text/javascript">
 missingCoauthorItemsSparql = `
SELECT
  # Number of works with the coauthor
  ?count

  # The coauthor as a string, - rather than as an item
  ?coauthor

  # Build URL to Magnus Manske's resolver tool
  (CONCAT(
      'https://tools.wmflabs.org/sourcemd/new_resolve_authors.php?doit=Look+for+author&name=',
      ENCODE_FOR_URI(?coauthor)) AS ?resolver_url)
WITH {
  SELECT (COUNT(?work) as ?count) ?coauthor WHERE {
    ?work wdt:P50 wd:{{ q }} .
    ?work wdt:P2093 ?coauthor .
  }
  GROUP BY ?coauthor
} AS %result
WHERE {
  INCLUDE %result
  # Label the results
  SERVICE wikibase:label { bd:serviceParam wikibase:language "en,da,de,es,fr,jp,nl,no,ru,sv,zh". }
}
ORDER BY DESC(?count)
`

  missingCitingAuthorItemsSparql = `
SELECT
  # Number of works with the coauthor
  ?count

  # The citing author as a string, - rather than as an item
  ?citing_author

  # Build URL to Magnus Manske's resolver tool
  (CONCAT(
      'https://tools.wmflabs.org/sourcemd/new_resolve_authors.php?doit=Look+for+author&name=',
      ENCODE_FOR_URI(?citing_author)) AS ?resolver_url)

  ?example_citing_work ?example_citing_workLabel
WITH {
  SELECT
    (COUNT(?work) as ?count)
    ?citing_author
    (SAMPLE(?citing_work) AS ?example_citing_work) 
  WHERE {
    ?work wdt:P50 wd:{{ q }} .
    ?citing_work wdt:P2860 ?work .
    ?citing_work wdt:P2093 ?citing_author .
  }
  GROUP BY ?citing_author
} AS %result
WHERE {
  INCLUDE %result
  # Label the results
  SERVICE wikibase:label { bd:serviceParam wikibase:language "en,da,de,es,fr,jp,nl,no,ru,sv,zh". }
}
ORDER BY DESC(?count)
LIMIT 1000
`


  missingTopicSparql = `
SELECT
  ?work ?workLabel (?work AS ?wikidata_url)
WHERE {
  # Works by author
  ?work wdt:P50 wd:Q41158133 .
  
  # Works with no topic(s)
  FILTER NOT EXISTS { ?work wdt:P591 ?topic . }

  # Label the results
  SERVICE wikibase:label { bd:serviceParam wikibase:language "en,da,de,es,fr,jp,nl,no,ru,sv,zh". }
}
ORDER BY DESC(?count)
`



 $(document).ready(function() {
     sparqlToDataTable(missingCoauthorItemsSparql, "#missing-coauthor-items");
     sparqlToDataTable(missingCitingAuthorItemsSparql, "#missing-citing-author-items");
     sparqlToDataTable(missingTopicSparql, "#missing-topic");
 });


</script>

{% endblock %}


{% block page_content %}

<h1 id="h1">Author</h1>

Missing information with respect to the author.


<h2>Missing coauthor items</h2>

The coauthors below are only represented as strings in Wikidata and not linked to
Wikidata items.
Follow the link to use Magnus Manske's resolver tool to try to resolve the authors.

<table class="table table-hover" id="missing-coauthor-items"></table>


<h2>Missing citing author items</h2>

The citing authors below are only represented as strings in Wikidata and not linked to
Wikidata items.
Follow the link to use Magnus Manske's resolver tool to try to resolve the authors.

<table class="table table-hover" id="missing-citing-author-items"></table>


<h2>Authored works with missing topics</h2>

<table class="table table-hover" id="missing-topic"></table>



{% endblock %}
