{% extends "base.html" %}

{% set aspect = "author-curation" %}

{% block in_ready %}

{{ sparql_to_table('missing-author-resolving') }}
{{ sparql_to_table('missing-coauthor-items') }}
{{ sparql_to_table('missing-citing-author-items',
    options={
      "linkPrefixes": {
        "example_citing_work": "../../work/",
    }})}}
{{ sparql_to_table('missing-topic',
    options={
      "linkPrefixes": {
        "work": "../../work/",
    }})}}

{% endblock %}



{% block page_content %}

<h1 id="h1">Author</h1>

Missing information with respect to the author.


<h2 id="missing-author-resolving-header">Author name strings to be resolved</h2>

The authorship may be represented as an author name string rather than a Wikidata item.
To try to resolve the author name strings, follow the links below to use the Author disambiguator tool, which also has a <a href="https://author-disambiguator.toolforge.org/author_item_oauth.php?id={{ q }}">dedicated page for this author</a>.

<table class="table table-hover" id="missing-author-resolving-table"></table>


<h2 id="missing-coauthor-items-header">Missing coauthor items</h2>

The coauthors listed below may only be represented as strings in Wikidata
with no link to Wikidata items.
Follow the link to use the Author disambiguator tool to try to resolve
the authors.

<table class="table table-hover" id="missing-coauthor-items-table"></table>


<h2 id="missing-citing-author-items-header">Missing citing author items</h2>

The citing authors below are only represented as strings in Wikidata and not linked to
Wikidata items.
Follow the link to use the Author disambiguator tool to try to resolve
the authors.

<table class="table table-hover" id="missing-citing-author-items-table"></table>


<h2 id="missing-topic-header">Authored works with missing topics</h2>

<table class="table table-hover" id="missing-topic-table"></table>



{% endblock %}
