{% extends "author_base.html" %}

{% block page_content %}

<h1>Author</h1>

Researcher with a published record.

<h2>Examples</h2>

<ul>
  <li><a href="Q8219">Uta Frith</a></li>
  <li><a href="Q97270">Thomas C. Südhof</a></li>
  <li><a href="Q24532211">Van-Mai Cao-Lormeau</a></li>
  <li><a href="Q970550">Eric Lander</a></li>
  <li><a href="Q6394763">Kerstin Lindblad-Toh</a></li>
  <li><a href="Q13520818">Magnus Manske</a></li>
  <li><a href="Q16225640">James Heilman</a></li>
  <li><a href="Q18921408">Alex Bateman</a></li>
  <li><a href="Q18618629">Denny Vrandečić</a></li>
  <li><a href="Q20980928">Finn Årup Nielsen</a></li>
</ul>

{% endblock %}

  
