{% extends "base.html" %}

{% block page_content %}

<div class="container">
<h1>Author</h1>

Researcher with a published record.

<p>
    <div class="btn-group">
	<a title="Sample a random author among all authorships. This query takes several seconds."
	   href="random" 
	   class="btn btn-primary">Random author</a>
    </div>
</p>
</div>

<div class="container">

    <div class="card-deck mb-3">
	<div class="card mb-4 box-shadow">
	    
            <div class="card-header">
		<h4 class="my-0 font-weight-normal">Example profiles</h4>
            </div>
            <div class="card-body">
		<dl>
		    <dt><a href="Q97270">Thomas C. Südhof</a></dt>
		    <dd>
			View information about Thomas C. Südhof.
		    </dd>

		    <dt><a href="Q2399315">Leena Peltonen-Palotie</a></dt>
		    <dd>
			View information about Leena Peltonen-Palotie.
		    </dd>

		    <dt><a href="Q3063122">Pardis Sabeti</a></dt>
		    <dd>
			View information about Pardis Sabeti.
		    </dd>

		    <dt><a href="Q4693015">Agnes Binagwaho</a></dt>
		    <dd>
			View information about Agnes Binagwaho.
		    </dd>

		    <dt><a href="Q6152709">Jane Shelby Richardson</a></dt>
		    <dd>
			View information about Jane Shelby Richardson.
		    </dd>

		    <dt><a href="Q18921408">Alex Bateman</a></dt>
		    <dd>
			View information about Alex Bateman, a British bioinformatician.
		    </dd>

		    <dt><a href="Q24244119">Didier Musso</a></dt>
		    <dd>
			View information about Didier Musso.
		    </dd>

		</dl>
            </div>

	</div>

        <div class="card mb-4 box-shadow">
	    <div class="card-header">
		<h4 class="my-0 font-weight-normal">Comparisons</h4>
	    </div>
	    <div class="card-body">
		<p>Scholia can show multiple authors together.</p>
		
		<dl>
		    <dt><a href="../authors/Q20980928,Q24290415,Q24390693,Q26720269">Finn Årup Nielsen, Ole Winther, Sune Lehmann and Morten Mørup</a></dt>
		    <dd>Compare researchers at Cognitive Systems, Technical University of Denmark.</dd>

		    <dt><a href="../authors/Q26837548,Q5398061,Q7666528">Lars Juhl Jensen, Eske Willerslev, Søren Brunak</a></dt>
		    <dd>Compare Copenhagen bioinformatics/genetics researchers.</dd>

		    <dt><a href="../authors/Q37876,Q173746">Natalie Portman and Paul Erdős</a></dt>
		    <dd></dd>

		    <dt><a href="../authors/Q38084489,Q38085379,Q38084725,Q38084995">Anders Eklund, Anders Eklund, Anders Eklund, and Anders Eklund</a></dt>
		    <dd>Where would we be without identifiers...</dd>

		    <dt><a href="../authors/Q71522746,Q28468766,Q28468763,Q24532211,Q24244119,Q24727868,Q78549817">Teheipuaura Mariteragi-Helle, Maite Aubry, Jean-Claude Manuguerra, Van-Mai Cao-Lormeau, Didier Musso, Anita Teissier, Mike Kama</a></dt>
		    <dd>Seven researchers studying infectious diseases in the Pacific region</dd>
		</dl>



	    </div>
        </div>
	
        <div class="card mb-4 box-shadow">
	    <div class="card-header">
		<h4 class="my-0 font-weight-normal">Redirects</h4>
	    </div>
	    <div class="card-body">
		<p>If you know the author by social account or identifier, you can look them up with:</p>
		
		<dl>
		    <dt><a href="../twitter/utafrith">twitter/utafrith</a></dt>
		    <dd>Look up by Twitter username @utafrith. This will identify
			the London-based researcher Uta Frith and redirect to her Scholia page.</dd>

		    <dt><a href="../orcid/0000-0001-5916-0947">orcid/0000-0001-5916-0947</a></dt>
		    <dd>Lookup 0000-0001-5916-0947 that is identifying Magnus Manske.</dd>

		    <dt><a href="../github/fnielsen">github/fnielsen</a></dt>
		    <dd>
			Redirect via GitHub username, here @fnielsen to Finn Årup Nielsen.
		    </dd>

		    <dt><a href="../viaf/59976288">viaf/59976288</a></dt>
		    <dd>Redirect via VIAF identifier, here to Ben Feringa</dd>
		</dl>

	    </div>
        </div>
    </div>
</div>


{% endblock %}

  
