{% extends "base.html" %}

{% block page_content %}

<h1>Author</h1>

Researcher with a published record.

<p>
    <div class="btn-group">
	<a href="random" class="btn btn-primary">Random author</a>
    </div>
</p>

<h2>Examples</h2>

<ul>
    <li><a href="Q8219">Uta Frith</a></li>
    <li><a href="Q97270">Thomas C. Südhof</a></li>
    <li><a href="Q2399315">Leena Peltonen-Palotie</a></li>
    <li><a href="Q3063122">Pardis Sabeti</a></li>
    <li><a href="Q4693015">Agnes Binagwaho</a></li>
    <li><a href="Q6152709">Jane Shelby Richardson</a></li>
    <li><a href="Q13520818">Magnus Manske</a></li>
    <li><a href="Q18921408">Alex Bateman</a></li>
    <li><a href="Q20980928">Finn Årup Nielsen</a></li>
    <li><a href="Q24244119">Didier Musso</a></li>
</ul>


<h3>Multiple authors</h3>

<ul>
    <li><a href="../authors/Q20980928,Q24290415,Q24390693,Q26720269">Finn Årup Nielsen, Ole Winther, Sune Lehmann and Morten Mørup</a> (researchers at Cognitive Systems, Technical University of Denmark)</li> 
    <li><a href="../authors/Q26837548,Q5398061,Q7666528">Lars Juhl Jensen, Eske Willerslev, Søren Brunak</a> (Copenhagen bioinformatics/genetics researchers)</li> 
    <li><a href="../authors/Q37876,Q173746">Natalie Portman and Paul Erdős</a></li>
    <li><a href="../authors/Q38084489,Q38085379,Q38084725,Q38084995">Anders Eklund, Anders Eklund, Anders Eklund and Anders Eklund</a> (Different Swedish researchers with the same name)</li>
</ul>



{% endblock %}

  
