{% extends "base.html" %}

{% block page_content %}

<h1>Catalogue</h1>


<h2>Examples</h2>

<dl>
    <dt><a href="Q42661788">Dansk Guldalder Maleri</a></dt>
    <dd>
	[Danish Golden Age Painting].
	A catalogue from the <em>Ny Carlsberg Glyptotek</em> art callery
	in Copenhagen detailing paintings by Danish artists in 
	the period 1800&ndash;1850 (circa).
    </dd>

    <dt><a href="Q51456640">De 20 højeste lønninger på KU i 2017</a></dt>
    <dd>
	[The 20 highest salaries at University of Copenhagen in 2017].
	A short list of administrators and prominent researchers from a university in Denmark.
    </dd>

    <dt><a href="Q51467536">What are the ten most cited sources on Wikipedia? Let’s ask the data</a></dt>
    <dd>
	A short list of scientific papers and books including
	reference works that are highly cited from Wikipedias.
    </dd>
</dl>


{% endblock %}

  
