{% extends "base.html" %}


{% block scripts %}
{{super()}}

  <script type="text/javascript">
    missingBoilingPointsSparql = `
SELECT ?compound ?compoundLabel WITH {
  SELECT ?compound WHERE {
    ?compound wdt:P31 wd:Q11173.
    FILTER(NOT EXISTS {?compound wdt:P2102 []})
  }
  LIMIT 500
} AS %CHEMICALS WHERE {
  INCLUDE %CHEMICALS
  OPTIONAL { ?compound wdt:P274 ?formula }
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
}
`


 $(document).ready(function() {
     sparqlToDataTable(missingBoilingPointsSparql, "#missing-boiling-points");
 });


</script>

{% endblock %}


{% block page_content %}

<h1 id="h1">Missing Boiling Points</h1>

<table class="table table-hover" id="missing-boiling-points"></table>


{% endblock %}
