{% extends "base.html" %}

{% block page_content %}

<h1>Chemical substances</h1>

Chemical substances.


<div class="container">

    <h2>Examples</h2>

    <div class="card-deck mb-3">
	<div class="card mb-4 box-shadow">

            <div class="card-header">
		<h4 class="my-0 font-weight-normal">Single items</h4>
            </div>
            <div class="card-body">
		<dl>
		    <dt><a href="Q2270">benzene</a></dt>
		    <dd>
			View information about the chemical benzene.
		    </dd>

		    <dt><a href="Q159683">citric acid</a></dt>
		    <dd>
			View information about the chemical citric acid.
		    </dd>
		</dl>
            </div>

	</div>

     <div class="card mb-4 box-shadow">
	    <div class="card-header">
		    <h4 class="my-0 font-weight-normal">Redirecting</h4>
	    </div>
	    <div class="card-body">
		<p>If you know the identifier, then Scholia can make a lookup based on the identifier:</p>

		<dl>
		    <dt><a href="../pubchem/14123361">pubchem/14123361</a></dt>
		    <dd>Look up PubChem CID 14123361. This will identify tetra-tert-butylmethane
			and redirect to its Scholia page.</dd>

		    <dt><a href="../cas/50-00-0">cas/50-00-0</a></dt>
		    <dd>Look up CAS 50-00-0. This will identify formaldehyde
			and redirect to its Scholia page.</dd>

		    <dt><a href="../inchikey/QTBSBXVTEAMEQO-UHFFFAOYSA-N">inchikey/QTBSBXVTEAMEQO-UHFFFAOYSA-N</a></dt>
		    <dd>Redirect also works for InChIKeys, here for acetic acid.</dd>

		    <dt><a href="../lipidmaps/LMFA00000007">lipidmaps/LMFA00000007</a></dt>
		    <dd>And for LIPID MAPS identifiers</dd>
		</dl>
	    </div>
        </div>
    </div>
</div>

<div class="container">
  <h2>Statistics</h2>

  <table class="table table-hover" id="statistics"></table>

</div>

{% endblock %}



{% block scripts %}
{{super()}}

<script type="text/javascript">

 statisticsSparql = `


SELECT ?count ?description
WITH {
  SELECT (COUNT(*) AS ?count) WHERE { [] wdt:P2102 []. }
} AS %boilingpoints
WITH {
  SELECT (COUNT(*) AS ?count) WHERE { [] wdt:P2101 []. }
} AS %meltingpoints
WITH {
  SELECT (COUNT(*) AS ?count) WHERE { [] wdt:P1117 []. }
} AS %pkas
WITH {
  SELECT (COUNT(*) AS ?count) WHERE { [] wdt:P231 []. }
} AS %cas
WITH {
  SELECT (COUNT(*) AS ?count) WHERE { [] wdt:P235 []. }
} AS %inchikeys
WHERE {
  {
    INCLUDE %meltingpoints
    BIND("Total number of chemicals with a melting point" AS ?description)
  }
  UNION
  {
    INCLUDE %boilingpoints
    BIND("Total number of chemicals with a boiling point" AS ?description)
  }
  UNION
  {
    INCLUDE %pkas
    BIND("Total number of chemicals with a pKa" AS ?description)
  }
  UNION
  {
    INCLUDE %cas
    BIND("Total number of CAS registry numbers" AS ?description)
  }
  UNION
  {
    INCLUDE %inchikeys
    BIND("Total number of InChIKeys" AS ?description)
  }
}
ORDER BY DESC(?count)
`

 $(document).ready(function() {
     sparqlToDataTable(statisticsSparql, "#statistics");
 });

</script>

{% endblock %}

  
