{% extends "base.html" %}

{% set aspect = "chemical_element" %}

{% block in_ready %}

{{ sparql_to_table('isotopes') }}
{{ sparql_to_table('allotropes') }}
{{ sparql_to_table('recent-literature') }}

{% endblock %}

{% block page_content %}
<h1 id="h1">Chemical</h1>

<div id="intro"></div>

<div id="wembedder"></div>

<h2 id="isotopes-header">Isotopes</h2>

<table class="table table-hover" id="isotopes-table"></table>

<h2 id="allotropes-header">Allotropes</h2>

<table class="table table-hover" id="allotropes-table"></table>

<h2 id="recent-literature-header">Recently published works on the chemical <a href="{{ url_for('app.show_topic_empty') }}{{ q }}/latest-works/rss"><img height="24" width="48" src="{{ url_for('static', filename='images/rss-40674_320.png') }}" alt="RSS icon" /></a></h2>

<table class="table table-hover" id="recent-literature-table"></table>

{% endblock %}
    
