{% extends "base.html" %}

{% block page_content %}

<h1>Chemical classes</h1>

Chemical classes are categories of chemicals with one or more specific chemicals.

<div class="container">

    <h2>Examples</h2>

    <div class="card-deck mb-3">
	<div class="card mb-4 box-shadow">

            <div class="card-header">
		<h4 class="my-0 font-weight-normal">Single items</h4>
            </div>
            <div class="card-body">
		<dl>
		    <dt><a href="Q41581">alkane</a></dt>
		    <dd>
			View information about alkanes.
		    </dd>

		    <dt><a href="Q61476">fatty acid</a></dt>
		    <dd>
			View information about fatty acids.
		    </dd>

		    <dt><a href="Q46995757">phoratoxin</a></dt>
		    <dd>
			View information about phoratoxins.
		    </dd>
		</dl>
            </div>

	</div>
</div>

{% endblock %}

  
