{% extends "base.html" %}

{% set aspect = "cito_empty" %}

{% block in_ready %}

{{ sparql_to_table('article-counts',
     options={
         "linkPrefixes": { 
             "intention": "../../cito/"
         }
     }
   )
}}
{{ sparql_to_table('journal-counts',
     options={
         "linkPrefixes": { "journal": "../../venue/", },
         "linkSuffixes": { "journal": "/cito", }
     }
   )
}}
{{ sparql_to_table('statistics') }}
{{ sparql_to_iframe('articles-by-year') }}

{% endblock %}


{% block page_content %}

<h1>Citation Typing Ontology Intentions</h1>

Page with general info about CiTO annotation in Wikidata.

<h2 id="statistics-header">Statistics</h2>

<table class="table table-hover" id="statistics-table"></table>

<h2 id="articles-by-year-header">Number of articles with CiTO-annotated citations by year</h2>

<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" id="articles-by-year-iframe"></iframe>
</div>

<h2 id="article-counts-header">Use of the various CiTO intentions</h2>

This table shows the number of times each CiTO intention is used
in the total number of citations and in a number of different articles.

<table class="table table-hover" id="article-counts-table"></table>

<h2 id="journal-counts-header">Journals and how many CiTO different intentions they use</h2>

<table class="table table-hover" id="journal-counts-table"></table>

{% endblock %}

  
