{% extends "base.html" %}

{% block navbar %}
<div class="navbar navbar-static-top">
    <ul class="nav nav-pills">
	<li role="presentation"><a href="{{ url_for('app.index') }}">Scholia</a></li>
	<li role="presentation"><a href="{{ url_for('app.show_author_empty') }}">Author</a></li>
	<li role="presentation"><a href="{{ url_for('app.show_work_empty') }}">Work</a></li>
	<li role="presentation"><a href="{{ url_for('app.show_organization_empty') }}">Organization</a></li>
	<li role="presentation" class="active"><a href="{{ url_for('app.show_venue_empty') }}">Venue</a></li>
	<li role="presentation"><a href="{{ url_for('app.show_series_empty') }}">Series</a></li>
	<li role="presentation"><a href="{{ url_for('app.show_publisher_empty') }}">Publisher</a></li>
	<li role="presentation"><a href="{{ url_for('app.show_sponsor_empty') }}">Sponsor</a></li>
	<li role="presentation"><a href="{{ url_for('app.show_award_empty') }}">Award</a></li>
	<li role="presentation"><a href="{{ url_for('app.show_topic_empty') }}">Topic</a></li>
	<li role="presentation"><a href="{{ url_for('app.show_about') }}">About</a></li>
    </ul>
</div>
{% endblock %}

