{% extends "base.html" %}

{% set aspect = "clinical-trial" %}


{% block in_ready %}

{{ sparql_to_table('interventions') }}
{{ sparql_to_table('statistics') }}
{{ sparql_to_table('medical-conditions') }}
{{ sparql_to_table('recent-trials') }}

{{ sparql_to_iframe('phases') }}

{% endblock %}


{% block page_content %}

<h1 id="clinical-trials-header">Clinical trials</h1>

<h2 title="Recently initiated clinical trials" id="recent-clinical-trials-header">Recent clinical trials</h2>

<table class="table table-hover" id="recent-clinical-trials-table"></table>


<h2 title="Clinical trial phases during the years" id="phases-header">Phases</h2>

<div class="embed-responsive embed-responsive-4by3">
    <iframe class="embed-responsive-item" id="phases-iframe"></iframe>
</div>


<h2 title="Medical conditions in clinical trials sorted by number of trials" id="medical-conditions-header">Medical conditions</h2>

<table class="table table-hover" id="medical-conditions-table"></table>


<h2 title="Interventions in clinical trials sorted by number of trials" id="interventions-header">Interventions</h2>

<table class="table table-hover" id="interventions-table"></table>


<h2 title="Statistics for clinical trials" id="statistics-header">Statistics</h2>

<table class="table table-hover" id="statistics-table"></table>


{% endblock %}