{% extends "base.html" %}

{% set aspect = "complex" %}

{% block in_ready %}

{{ sparql_to_table('participants') }}
{{ sparql_to_table('identifiers') }}

{% endblock %}


{% block page_content %}

<h1 id="h1">Complex</h1>

<div id="intro"></div>

<div id="description"></div><br />

<h2 id="identifiers-header">Identifiers</h2>

<table class="table table-hover" id="identifiers-table"></table>

<h2 id="participants-header">Participants</h2>

<table class="table table-hover" id="participants-table"></table>


{% endblock %}

