{% extends "base.html" %}

{% block page_content %}

<h1>Country</h1>


<h2>Examples</h2>

<ul>
  <li><a href="Q414">Argentina</a></li>
  <li><a href="Q408">Australia</a></li>
  <li><a href="Q16">Canada</a></li>
  <li><a href="Q35">Denmark</a></li>
  <li><a href="Q668">India</a></li>
  <li><a href="Q1033">Nigeria</a></li>
  <li><a href="Q159">Russia</a></li>
  <li><a href="Q884">South Korea</a></li>
  <li><a href="Q924">Tanzania</a></li>
  <li><a href="Q55">The Netherlands</a></li>  
</ul>


<h3>Multiple countries</h3>

<ul>
  <li><a href="../countries/Q114,Q258,Q1036,Q954,Q1013,Q963,Q1030,Q953">Southern and Eastern African countries</a></li>
  <li><a href="../countries/Q35,Q20,Q189,Q33,Q34">Nordics</a></li>
</ul>


<h3>Subaspects</h3>

<ul>
  <li><a href="Q35/topic/Q903809">Denmark and fMRI</a></li>
  <li><a href="Q35/topic/Q2539">Denmark and machine learning</a></li>
  <li><a href="Q33/topic/Q2539">Finland and machine learning</a></li>
  <li><a href="Q142/topic/Q202864">France and Zika virus</a></li>  
  <li><a href="Q30/topic/Q903809">United States and fMRI</a></li>
</ul>


{% endblock %}
