{% extends "base.html" %}

{% set aspect = "disease" %}

{% block in_ready %}

{{ sparql_to_table('clinical-trials') }}
{{ sparql_to_table('related-diseases') }}
{{ sparql_to_iframe('publications-per-year') }}

{% endblock %}


{% block page_content %}
<h1 id="h1">Disease</h1>

<div id="intro"></div>

<div id="wembedder"></div>


<h2 id="clinical-trials-header">Clinical trials</h2>

<table class="table table-hover" id="clinical-trials-table"></table>


<h2 id="related-diseases-header">Possibly related diseases</h2>

Other diseases with reported genetic association via genes or symptom overlap, 
ordered according to number of co-associated genes and symptoms.

<table class="table table-hover" id="related-diseases-table"></table>


<h2 id="publications-per-year-header">Publications per year</h2>

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" id="publications-per-year-iframe"></iframe>
</div>

{% endblock %}
    
