{% extends "base.html" %}

{% block scripts %}
{{super()}}

<script type="text/javascript">
 eventSeriesSparql = `
SELECT
  ?events ?short_name
  ?event_series ?event_seriesLabel ?event_seriesDescription
WITH {
  SELECT (COUNT(?event) AS ?events) ?event_series {  
    { ?event_series wdt:P31 wd:Q47258130 . }
    UNION 
    { ?event_series wdt:P31 wd:Q47459256 . }
    OPTIONAL { ?event_series ^wdt:P179 ?event }
  }
  GROUP BY ?event_series
} AS %events
WHERE {
  INCLUDE %events
  OPTIONAL { ?event_series wdt:P1813 ?short_name }
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en,da,de,fr". }
}
ORDER BY DESC(?events)
`


 $(document).ready(function() {
     sparqlToDataTable(eventSeriesSparql, "#event-series", {
	 linkPrefixes:{
	     "event": "./",
	 }
     });
 });


</script>

{% endblock %}


{% block page_content %}

<h1>Event series</h1>

<table class="table table-hover" id="event-series"></table>




<h2>Examples</h2>

<dl>

    <dt><a href="Q1961016">NeurIPS/NIPS</a></dt>
    <dd>
	Neural Information Processing Systems (NeurIPS, formerly NIPS) is a  
	neural computation and <a href="../topic/Q2539">machine learning</a>
	conference series usually taking place in December. 
    </dd>

    <dt><a href="Q17012957">ESWC</a></dt>
    <dd>
	ESWC, at one point called European Semantic Web Conference, later Extended Semantic Web Conference, is a scientific conference series usually taking 
	place at the Mediterranean coast in a European country during the summer.
	The topic of the conference is, as the name suggests, 
	<a href="../topic/Q54837">Semantic Web</a>.
    </dd>

    <dt><a href="Q3570023">WWW</a></dt>
    <dd>
	The Web Conference, formerly called International World Wide Web Conference, abbreviated as WWW (sometimes pronounced dub-dub-dub)
	is a conferences series about the <a href="../topic/Q466">web</a>.
    </dd>

    <dt><a href="Q47501052">ICCS</a></dt>
    <dd>
	International Conference on Chemical Structures (ICCS).
    </dd>

</dl>


{% endblock %}

  
