{% extends "base.html" %}


{% block scripts %}
{{super()}}

<script type="text/javascript">
 peopleSparql = `
SELECT ?number_of_publications ?person ?personLabel ?personDescription ?roles ?example_work ?example_workLabel
WITH {
  SELECT
    (GROUP_CONCAT(?role; separator=", ") AS ?roles) ?person
  WHERE {
    {
      # speaker
      wd:{{ q }} wdt:P823 ?person .
      # BIND(wd:Q9379869 AS ?role)
      BIND("speaker" AS ?role)
    }
    UNION
    {
      # organizer
      wd:{{ q }} wdt:P664 ?person .
      #BIND(wd:Q2029941 AS ?role)
      BIND("organizer" AS ?role)
    }
    UNION
    {
      # participant
      ?person wdt:P1344 | ^wdt:P710 wd:{{ q }} .
      BIND("participant" AS ?role)
    }
  }
  GROUP BY ?person
} AS %people  
WITH {
  SELECT
    (COUNT(?work) AS ?number_of_publications)
    ?roles
    ?person (SAMPLE(?work) AS ?example_work)
  WHERE {
    INCLUDE %people .
    OPTIONAL { ?work wdt:P50 ?person . }
  }
  GROUP BY ?roles ?person
} AS %results
WHERE {
  INCLUDE %results
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en,da,de,es,fr,jp,no,ru,sv,zh". }
}
ORDER BY DESC(?number_of_publications)
`

  topicsSparql = `
SELECT ?score ?topic ?topicLabel ?topicDescription
WITH {
  SELECT
    DISTINCT ?person
  WHERE {
    {
      # speaker
      wd:{{ q }} wdt:P823 ?person .
    }
    UNION
    {
      # organizer
      wd:{{ q }} wdt:P664 ?person .
    }
    UNION
    {
      # participant
      ?person wdt:P1344 | ^wdt:P710 wd:{{ q }} .
    }
  }
} AS %people  
WITH {
  SELECT
    (SUM(?score_) AS ?score) ?topic
  WHERE {
    {
      wd:{{ q }} wdt:P921 ?topic .
      BIND(50 AS ?score_)
    }
    UNION
    {
      INCLUDE %people
      ?person ^wdt:P50 / wdt:P921 ?topic .
      BIND(1 AS ?score_)
    }
    UNION
    {
      wd:{{ q }} ^wdt:P4745 / ^wdt:P1433 / wdt:P921 ?topic .
      BIND(7 AS ?score_)
    }
      
  }
  GROUP BY ?topic
} AS %results
WHERE {
  INCLUDE %results
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en,da,de,es,fr,jp,no,ru,sv,zh". }
}
ORDER BY DESC(?score)
LIMIT 200
`

  recentPublicationsSparql = `
SELECT
  ?publication_date
  ?work ?workLabel
  ?authors
WITH {
  SELECT
    DISTINCT ?person
  WHERE {
    {
      # speaker
      wd:{{ q }} wdt:P823 ?person .
    }
    UNION
    {
      # organizer
      wd:{{ q }} wdt:P664 ?person .
    }
    UNION
    {
      # participant
      ?person wdt:P1344 | ^wdt:P710 wd:{{ q }} .
    }
  }
} AS %people  
WITH {
  SELECT
    (MAX(?publication_datetime) AS ?publication_date)
    ?work
    (GROUP_CONCAT(?person_label; separator=" // ") AS ?authors)
  WHERE {
    INCLUDE %people .
    ?work wdt:P50 ?person ; wdt:P577 ?publication_datetime .
    ?person rdfs:label ?person_label . FILTER(LANG(?person_label) = 'en')
  }
  GROUP BY ?work
} AS %results
WHERE {
  INCLUDE %results
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en,da,de,es,fr,jp,no,ru,sv,zh". }
}
ORDER BY DESC(?publication_date)
LIMIT 500
`

  relatedEventsSparql = `
SELECT
  ?score
  ?time_score
  ?location_score
  ?event ?eventLabel
WITH {
  SELECT ?event_type WHERE {
    VALUES ?event_type { wd:Q2020153 wd:Q46855 wd:Q40444998 }
  }
} AS %event_types
WITH {
  SELECT ?event WHERE {
    INCLUDE %event_types
    ?event wdt:P31 / wdt:P279* ?event_type .
  }
} AS %events
WITH {
  SELECT
    (SUM(?score_) AS ?score)
    (MAX(?time_score_) AS ?time_score)
    (MAX(?location_score_) AS ?location_score)
    ?event
  WHERE {
    INCLUDE %events 
          
    { 
      # Around the same time
      wd:{{ q }} wdt:P580 | wdt:P585 ?time0 .
      ?event wdt:P580 | wdt:P585 ?time .
      BIND((365.25 * YEAR(?time0) + 30.5 * MONTH(?time0) + DAY(?time0)) AS ?day0)
      BIND((365.25 * YEAR(?time) + 30.5 * MONTH(?time) + DAY(?time)) AS ?day)
      
      # TODO: multiple days cause double counting
      BIND(20 / (1 + ABS(?day - ?day0)) AS ?time_score_)
    }
    # UNION
    {
      SELECT ?event (MAX(?inverse_distance) AS ?location_score_) WHERE {
        INCLUDE %events 
                
        # geocoordinate of the query event
        wd:{{ q }} wdt:P276? / wdt:P625 ?geo0 .
        
        # geocoordinate of other events
        ?event wdt:P276? / wdt:P625 ?geo .
        
        # inverse distance
        BIND((200 / (1 + geof:distance(?geo, ?geo0))) AS ?inverse_distance)
      }
      GROUP BY ?event
    }  
  
    BIND((?time_score_ * ?location_score_) AS ?score_)
  }
  GROUP BY ?event
  
} AS %results
WHERE {
  INCLUDE %results
  FILTER (?event != wd:{{ q }})
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
}
ORDER BY DESC(?score)
`


 $(document).ready(function() {
     sparqlToDataTable(peopleSparql, "#people");
     sparqlToDataTable(topicsSparql, "#topics");
     sparqlToDataTable(recentPublicationsSparql, "#recent-publications");
     sparqlToDataTable(relatedEventsSparql, "#related-events");
 });


</script>

{% endblock %}


{% block page_content %}

<h1 id="h1">Event</h1>

<div id="intro"></div>


<h2>People</h2>

<table class="table table-hover" id="people"></table>


<h2>Timeline</h2>

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://query.wikidata.org/embed.html#%23defaultView%3ATimeline%0ASELECT%20%3Ftime%20%3Fitem%20%3FitemLabel%20%3Fimage%0AWHERE%20%7B%0A%20%20%7B%0A%20%20%20%20wd%3A{{ q }}%20wdt%3AP580%20%7C%20wdt%3AP585%20%3Ftime%20.%0A%20%20%20%20OPTIONAL%20%7B%20wd%3A{{ q }}%20wdt%3AP18%20%3Fimage%20.%20%7D%0A%20%20%20%20BIND%28wd%3AQ24575110%20AS%20%3Fitem%29%0A%20%20%7D%0A%20%20UNION%0A%20%20%7B%0A%20%20%20%20wd%3A{{ q }}%20wdt%3AP582%20%3Ftime%20.%0A%20%20%20%20OPTIONAL%20%7B%20wd%3A{{ q }}%20wdt%3AP18%20%3Fimage%20.%20%7D%0A%20%20%20%20BIND%28wd%3AQ24575125%20AS%20%3Fitem%29%0A%20%20%7D%0A%20%20UNION%20%0A%20%20%7B%20wd%3A{{ q }}%20p%3AP793%20%5B%20ps%3AP793%20%3Fitem%20%3B%20pq%3AP585%20%3Ftime%20%5D%20.%20%7D%0A%20%20SERVICE%20wikibase%3Alabel%20%7B%20bd%3AserviceParam%20wikibase%3Alanguage%20%22%5BAUTO_LANGUAGE%5D%2Cen%22.%20%7D%0A%7D%0A%20%20%0A%20%20"></iframe>
</div>


<h2>Topic scores</h2>

<table class="table table-hover" id="topics"></table>


<h2>Recent publications</h2>

Recent publications by organizers, speakers or participants of the event.

<table class="table table-hover" id="recent-publications"></table>


<h2>Related events</h2>

Related events in terms of time and location.

<table class="table table-hover" id="related-events"></table>




{% endblock %}
