{% extends "base.html" %}

{% block page_content %}

<h1>Genes</h1>

Genes.

<div class="container">

    <h2>Examples</h2>

    <div class="card-deck mb-3">
	<div class="card mb-4 box-shadow">

            <div class="card-header">
		<h4 class="my-0 font-weight-normal">Single items</h4>
            </div>
            <div class="card-body">
		<dl>
		    <dt><a href="Q18030793">MAP2K1</a></dt>
		    <dd>
			Human gene.
		    </dd>

		    <dt><a href="Q14860818">SLC6A4</a></dt>
		    <dd>
			Serotonin transporter gene in <em>Homo sapiens</em>.
		    </dd>

		    <dt><a href="Q14891424">HTR2A</a></dt>
		    <dd>
			Human gene.
		    </dd>
		</dl>
            </div>

	</div>

     <div class="card mb-4 box-shadow">
	    <div class="card-header">
		    <h4 class="my-0 font-weight-normal">Redirecting</h4>
	    </div>
	    <div class="card-body">
		<p>If you know the identifier then Scholia can make a lookup based on the identifier:</p>

		<dl>
		    <dt><a href="../ncbi-gene/5604">ncbi-gene/5604</a></dt>
		    <dd>Information on MAP2K1 based on the NCBI (Entrez) gene identifier.</dd>
		</dl>
	    </div>
        </div>
    </div>
</div>


{% endblock %}

  
