{% extends "base.html" %}


{% block page_content %}

<h1>Identifier to QuickStatements</h1>


<h2>Input</h2>

<form action="" id="form" method="GET" class="form-horizontal mb-3">
  <div class="input-group">
    {% if query %}
    <input type="text" class="form-control" placeholder="Enter a single or list of arXiv IDs or DOIs" value="{{ query }}" id="searchterm" name="query"/>
    {% else %}
    <input type="text" class="form-control" placeholder="Enter a single or list of arXiv IDs or DOIs" id="searchterm" name="query"/>
    {% endif %}
    <span class="input-group-append">
      <button class="btn btn-primary" type="submit">
        Submit
      </button>
    </span>
  </div>
</form>

<p>Enter a single or list of <a href="https://arxiv.org">arXiv</a> identifiers or <a href="https://doi.org">DOIs</a> to retrieve their Wikidata items or QuickStatements to create items for them.</p>

<p>Bare IDs (such as "1703.06103" or "10.1371/JOURNAL.PONE.0029797") or URLs (such as "https://arxiv.org/abs/1703.06103" or "https://doi.org/10.1371/JOURNAL.PONE.0029797") can be used and the list can be
comma, space, pipe or tab separated. Note that new items in Wikidata may not be immediately found because of caching.</p>

{% if error %}
<div class="alert alert-warning" role="alert">
  No results returned, potentially due to the upstream server being down. Please try again later. If the issue persists <a href="https://github.com/WDscholia/scholia/issues/new?assignees=&labels=bug&projects=&template=bug_report.md&title=">submit a bug report on GitHub</a>.
</div>
{% endif %}

{% if (qs|length) > 0 %}
<h2>{{ qs|length}} Found</h2>
{% endif %}

{% if (qs|length) == 1 %}

<div id="searchresult">{{ qs[0][0] }} has been entered as <a href="work/{{ qs[0][1] }}">{{ qs[0][1] }}</a></div>

{% endif %}

{% if (qs|length) > 1 %}

<div id="searchresult">In Wikidata:
<ul>
  {% for q in qs %}
  <li>{{ q[0] }}: <a href="work/{{ q[1] }}">{{ q[1] }}</a></li>
  {% endfor %}
</ul>
</div>

{% endif %}

{% if (quickstatements|length) > 0 %}
<h2>{{(quickstatements|length)}} Not Found</h2>

{% for quickstatement in quickstatements %}
<div id="quickstatements"><pre>{{ quickstatement }}</pre></div>

<a href="https://quickstatements.toolforge.org/#/v1={{ quickstatement | replace('\t', '|') | replace('\n', '||') | urlencode | replace('/','%2F') }}">
  <button class="btn btn-primary">Submit to Quickstatements ↗</button>
</a>
{% endfor %}
{% endif %}

{% if (failed|length) > 0 %}
<h2>{{(failed|length)}} Failed</h2>

<ul>
{% for fail in failed %}
<li>{{ fail[0] }}: {{ fail[1] }}</a></li>
{% endfor %}
</ul>
{% endif %}


{% endblock %}
