{% extends "base.html" %}

{% block page_content %}

<div class="container">
    <h2>Search</h2>
    
    <div class="input-group">
	<input type="text" class="form-control"
	       placeholder="Search for a scientist, paper, organization, venue, event, topic, etc." id="searchterm"/>
	<!-- span class="input-group-btn">
	    <button class="btn btn-primary" type="submit">Search</button>
	</span -->
    </div>

    <div id="searchresult"></div>

</div>





<div class="container">

    <h2>Examples</h2>

    <div class="card-deck mb-3">
	<div class="card mb-4 box-shadow">
	    
            <div class="card-header">
		<h4 class="my-0 font-weight-normal">Single items</h4>
            </div>
            <div class="card-body">
		<dl>
		    <dt><a href="author/Q18618629">Denny Vrandečić</a></dt>
		    <dd>
			View the researcher profile for the Semantic Web researcher Denny Vrandečić.
			It shows his papers, co-authors, etc.
		    </dd>
		    
		    <dt><a href="organization/Q1269766">Technical University of Denmark</a></dt>
		    <dd>
			View the profile for an organization: People associated with the organization, 
			their publication, the co-author pattern, etc.
		    </dd>
		    
		    <dt>
			<a href="venue/Q1981225">NeuroImage</a>
		    </dt>
		    <dd>
			View information about a venue, e.g., a scientific journal or scientific conference.
			Here the <em>NeuroImage</em> journal, its recently published paper, 
			authors, topics, citation pattern, etc.
		    </dd>
		    
		    <dt>
			<a href="publisher/Q233358">Public Library of Science</a>
		    </dt>
		    <dd>
			View information about a publisher, here
			<em>Public Library of Science</em> with, e.g., its journals it publishes.
		    </dd>
		</dl>
            </div>

	</div>
	    
        <div class="card mb-4 box-shadow">
	    <div class="card-header">
		<h4 class="my-0 font-weight-normal">Multiple items</h4>
	    </div>
	    <div class="card-body">
		<p>Scholia can show multiple items together.</p>
		
		<dl>
		    <dt>
			<a href="organizations/Q1269766,Q193196">Technical University of Denmark and UCL</a>
		    </dt>
		    <dd>
			Compare two or more organization. Here a comparison between two universities with
			collaborating researchers, number of publications and citations.
		    </dd>
		</dl>

		<dt>
		    <a href="authors/Q80,Q6135847,Q30085536">Tim Berners-Lee, James Hendler and Ruben Verborgh</a></dt>
		<dd>
		    Compare three Semantic Web researchers. 
		</dd>



	    </div>
        </div>
	
        <div class="card mb-4 box-shadow">
	    <div class="card-header">
		<h4 class="my-0 font-weight-normal">Redirecting</h4>
	    </div>
	    <div class="card-body">
		<p>If you know the identifier then Scholia can make a lookup based on the identifier:</p>
		
		<dl>
		    <dt><a href="twitter/utafrith">twitter/utafrith</a></dt>
		    <dd>Lookup @utafrith Twitter username. This will identify
			the London-based researcher Uta Frith and redirect to her Scholia page.</dd>
		  
		    <dt><a href="twitter/mitpress">twitter/mitpress</a></dt>
		    <dd>Redirect also works for organizations, here MIT Press</dd>

		    <dt><a href="orcid/0000-0001-7542-0286">orcid/0000-0001-7542-0286</a></dt>
		    <dd>Lookup 0000-0001-7542-0286 that is identifying Egon Willighagen.</dd>

		    <dt><a href="github/vedina">github/vedina</a></dt>
		    <dd>
			Redirect via GitHub username, here @vedina to Nina Jeliazkova.
		    </dd>

		    <dt><a href="doi/10.1186/S13321-016-0161-3">doi/10.1186/S13321-016-0161-3</a></dt>
		    <dd>Redirect via DOI.</dd>
		    
		    <dt><a href="viaf/59976288">viaf/59976288</a></dt>
		    <dd>Redirect via VIAF identifier, here to Ben Feringa</a></li>


		</dl>

	    </div>
        </div>
    </div>
</div>



<div class="container">

    <h2>Statistics</h2>

    Scholia uses Wikidata for all its data. How much data do we search over?

    <table class="table table-hover" id="statistics"></table>
    
</div>    

{% endblock %}

  
{% block scripts %}
{{super()}}

<script type="text/javascript">
$('#searchterm').keyup(function( e ) {
  var q = $('#searchterm').val();
  $.getJSON("https://www.wikidata.org/w/api.php?callback=?", {
      search: q,
      action: "wbsearchentities",
      language: "en",
      uselang: "en",
      format: "json",
      strictlanguage: true,
    },
    function(data) {
      $("#searchresult").empty();
      $.each(data.search, function(i, item) {
        $("#searchresult").append("<div><a href='" + item.title + "'>" + item.label + "</a> - " + item.description + "</div>");
    });
  });
});


 statisticsSparql = `
SELECT ?count ?description
WITH {
  SELECT (COUNT(*) AS ?count) WHERE { [] ?p [] . }
} AS %triples
WITH {
  SELECT (COUNT(*) AS ?count) WHERE { [] wdt:P50 []. }
} AS %authors
WITH {
  SELECT (COUNT(*) AS ?count) WHERE { [] wdt:P225 []. }
} AS %taxa
WITH {
  SELECT (COUNT(*) AS ?count) WHERE { [] wdt:P356 []. }
} AS %dois
WITH {
  SELECT (COUNT(*) AS ?count) WHERE { [] wdt:P496 []. }
} AS %orcids
WITH {
  SELECT (COUNT(*) AS ?count) WHERE { [] wdt:P625 []. }
} AS %geoloc
WITH {
  SELECT (COUNT(*) AS ?count) WHERE { [] wdt:P698 []. }
} AS %pmids
WITH {
  SELECT (COUNT(*) AS ?count) WHERE { [] wdt:P921 []. }
} AS %topics
WITH {
  SELECT (COUNT(*) AS ?count) WHERE { [] wdt:P932 []. }
} AS %pmcids
WITH {
  SELECT (COUNT(*) AS ?count) WHERE { [] wdt:P2093 []. }
} AS %authorstrings
WITH {
  SELECT (COUNT(*) AS ?count) WHERE { [] wdt:P2860 [] . }
} AS %cites
WHERE {
  {
    INCLUDE %triples
    BIND("Total number of triples" AS ?description)
  }
  UNION
  {
    INCLUDE %pmids
    BIND("Items with a PubMed ID" AS ?description)
  }
  UNION
  {
    INCLUDE %pmcids
    BIND("Items with a PubMed Central ID" AS ?description)
  }
  UNION
  {
    INCLUDE %dois
    BIND("Items with a DOI" AS ?description)
  }
  UNION
  {
    INCLUDE %cites
    BIND("Citations" AS ?description)
  }
  UNION
  {
    INCLUDE %authors
    BIND("Links from items about works to items about their authors" AS ?description)
  }
  UNION
  {
    INCLUDE %authorstrings
    BIND("Author name strings on items about works" AS ?description)
  }
  UNION
  {
    INCLUDE %orcids
    BIND("Items about authors with an ORCID profile that has public content" AS ?description)
  }
  UNION
  {
    INCLUDE %taxa
    BIND("Items with a taxon name" AS ?description)
  }
  UNION
  {
    INCLUDE %geoloc
    BIND("Items with a geolocation" AS ?description)
  }
  UNION
  {
    INCLUDE %topics
    BIND("Links from items about works to items about their main subjects" AS ?description)
  }
}
ORDER BY DESC(?count)
`

 $(document).ready(function() {
     sparqlToDataTable(statisticsSparql, "#statistics");
 });

</script>

{% endblock %}
