{% extends "base.html" %}

{% set aspect = "license" %}



{% block in_ready %}

{{ sparql_to_table('recently-published-works') }}

{{ sparql_to_table('types-of-work') }}


{% endblock %}



{% block page_content %}

<h1 id="h1">License</h1>

<div id="intro"></div>

<div id="wembedder"></div>


<h2 id="recently-published-works">Recently published works</h2>

<table class="table table-hover" id="recently-published-works-table"></table>


<h2 id="types-of-work">Types of work</h2>

<table class="table table-hover" id="types-of-work-table"></table>


{% endblock %}
