{% extends "base.html" %}

{% set aspect = 'location-topic' %}

{% block in_ready %}

{{ sparql_to_table("nearby-researchers", {
	     "linkPrefixes":{"author": "../../../author/",
			   "example_work": "../../../work/"} }) }}

{% endblock %}



{% block page_content %}

<h1 id="h1">Location-topic</h1>

<div id="intro"></div>


<h2 title="Nearby researchers"
    id="nearby-researchers-header">Nearby researchers</h2>

<table class="table table-hover" id="nearby-researchers-table"></table>


{% endblock %}
