{% extends "base.html" %}

{% block page_content %}

<h1>Location</h1>


<h2>Examples</h2>

<ul>
  <li><a href="Q5465">Cape Town</a></li>
  <li><a href="Q859718">Cerro Paranal</a></li>
  <li><a href="Q123766">Charlottesville</a></li>
  <li><a href="Q1748">Copenhagen</a></li>
  <li><a href="Q211970">Entebbe</a></li>
  <li><a href="Q1309">Maastricht</a></li>
  <li><a href="Q46747">Sendai</a></li>
  <li><a href="Q933">South Pole</a></li>
  <li><a href="Q791">Taumatawhakatangihangakoauauotamateapokaiwhenuakitanatahu</a></li>
  <li><a href="Q3806">Tübingen</a></li>
</ul>


<h3>Subaspects</h3>

<ul>
  <li><a href="Q3806/topic/Q52">Tübingen and Wikipedia</a></li>
  <li><a href="Q1748/topic/Q2539">Copenhagen and machine learning</a></li>
  <li><a href="Q2239/topic/Q179965">Kongens Lyngby and EEG</a></li>
  <!-- li><a href="Q62/topic/Q330029555">San Francisco and knowledge graph</a></li -->
</ul>



{% endblock %}
