{% extends "base.html" %}

{% block page_content %}

<h1>Location</h1>


<h2>Examples</h2>

<ul>
  <li><a href="Q3806">Tübingen</a></li>
  <li><a href="Q1748">Copenhagen</a></li>
</ul>


<h3>Subaspects</h3>

<ul>
  <li><a href="Q3806/topic/Q52">Tübingen and Wikipedia</a></li>
  <li><a href="Q1748/topic/Q2539">Copenhagen and machine learning</a></li>
  <li><a href="Q2239/topic/Q179965">Kongens Lyngby and EEG</a></li>
  <!-- li><a href="Q62/topic/Q330029555">San Francisco and knowledge graph</a></li -->
</ul>



{% endblock %}
