{% extends "base.html" %}

{% block scripts %}
{{super()}}

<script type="text/javascript">
    nearbyOrganizationsSparql = `
SELECT
  ?distance
  ?organization ?organizationLabel
WITH {
  # Universities, research centers, etc.
  SELECT ?university WHERE {
    VALUES ?university { wd:Q3918 wd:Q1371037 wd:Q7315155  wd:Q31855 }
  }
} AS %universities
WITH {
  # Academic institutions on all levels
  SELECT DISTINCT ?organization ?other_geo WHERE {
    INCLUDE %universities
    ?organization wdt:P361* / wdt:P31 / wdt:P279* ?university .
    ?organization wdt:P625 ?other_geo .
  }
} AS %organizations
WITH {
  # Compute distance.
  SELECT ?organization ?distance WHERE {
    INCLUDE %organizations
    wd:{{ q }} wdt:P625 ?geo .
    BIND(geof:distance(?other_geo, ?geo) AS ?distance)
    FILTER(?distance < 250)
  }
} AS %results
WHERE {
  INCLUDE %results
  SERVICE wikibase:label { bd:serviceParam wikibase:language "en,da,de,es,fr,jp,nl,no,ru,sv,zh". }
}
ORDER BY ?distance
 `;


 $(document).ready(function() {
     sparqlToDataTable(nearbyOrganizationsSparql, "#nearby-organizations");
 });
</script>


{% endblock %}



{% block page_content %}

<h1 id="h1">Location</h1>

<div id="intro"></div>


<h2 id="Nearby organizations">Nearby organizations</h2>

<table class="table table-hover" id="nearby-organizations"></table>


{% endblock %}
