{% extends "base.html" %}

{% set aspect = "ontology" %}

{% block in_ready %}

{{ sparql_to_table_post('data') }}
{{ sparql_to_table('recent-works') }}
{{ sparql_to_table('used-ontologies') }}

{% endblock %}

{% block page_actions %}
{{ super() }}
{% endblock %}

{% block page_content %}

<h1 id="h1">Ontology</h1>

<div id="intro"></div>

<div id="details"></div>

<table class="table table-hover" id="data-table"></table>

<h2 id="used-ontologies">Used ontologies</h2>

<table class="table table-hover" id="used-ontologies-table"></table>

<h2 id="recent-works">Recent work using the ontology</h2>

<table class="table table-hover" id="recent-works-table"></table>


{% endblock %}
    
