{% extends "organization_base.html" %}

{% block content %}
<h1 id="h1">Organization</h1>

    <h2>Employee</h2>

    (past and present)<br/>
    
    <iframe style="width:96vw; height:50vh;" scrolling="yes" frameborder="0" src="https://query.wikidata.org/embed.html#select%20%3Fresearcher%20%3FresearcherLabel%20%3Fbirthdate%20where%20%7B%0A%20%20%3Fresearcher%20wdt%3AP108%20wd%3A{{ q }}%20.%0A%20%20optional%20%7B%20%3Fresearcher%20wdt%3AP569%20%3Fbirthdate%20.%20%7D%0A%20%20service%20wikibase%3Alabel%20%7B%20bd%3AserviceParam%20wikibase%3Alanguage%20%22en%2Cfr%2Cjp%2Cda%22%20.%20%7D%20%0A%7D%20order%20by%20desc%28%3Fbirthdate%29"></iframe>
    
    <h2>Awards</h2>

    <iframe style="width:96vw; height:50vh;" scrolling="yes" frameborder="0" src="https://query.wikidata.org/embed.html#select%20%3Faward%20%3FawardLabel%20%28count%28%3Fresearcher%29%20as%20%3Fcount%29%20%28group_concat%28%3Fresearcher_label%3B%20separator%3D%22%2C%20%22%29%20as%20%3Frecipients%29%20where%20%7B%0A%20%20%7B%20%3Fresearcher%20wdt%3AP108%20wd%3A{{ q }}%20.%20%7D%20union%20%7B%20%3Fresearcher%20wdt%3AP1416%20wd%3A{{ q }}%20.%20%20%7D%0A%20%20%3Fresearcher%20wdt%3AP166%20%3Faward%20.%0A%20%20%3Fresearcher%20rdfs%3Alabel%20%3Fresearcher_label%20.%20filter%20%28lang%28%3Fresearcher_label%29%20%3D%20%27en%27%29%0A%20%20service%20wikibase%3Alabel%20%7B%20bd%3AserviceParam%20wikibase%3Alanguage%20%22en%2Cfr%2Cjp%2Cda%2Csv%22%20.%20%7D%20%0A%7D%20group%20by%20%3Faward%20%3FawardLabel%20%0Aorder%20by%20desc%28%3Fcount%29"></iframe>

{% endblock %}
