{% extends "base.html" %}

{% set aspect = "organization_topic" %}

{% block in_ready %}

{{ sparql_to_table('recent-literature',
     options={
       "linkPrefixes":{
        "author": "../../../author/",
        "work": "../../../work/"
       }
     }
   )
}}

{% endblock %}



{% block page_content %}

<h1 id="h1">Organization-topic</h1>

<div id="intro"></div>

<h2 class="headline" id="recent-literature-header">Recent publications</h2>

<table class="table table-hover" id="recent-literature-table"></table>


{% endblock %}
