{% extends "organization_base.html" %}

{% block page_content %}

<h1>Organization</h1>

Universities, research centers, ...

<h2>Examples</h2>

<ul>
  <li><a href="Q49108">Massachusetts Institute of Technology</a></li>
  <li><a href="Q1269766">Technical University of Denmark</a></li>
  <li><a href="Q193196">University College London</a></li>
  <li><a href="Q19845644">Department of Bioinformatics - BiGCaT</a> (Maastricht University)</li>
  <li><a href="Q21561406">Wikimedia Research</a></li>
  <li><a href="Q23048689">DTU Compute</a></li>
  <li><a href="Q24283660">Cognitive Systems</a> (research group at DTU Compute)</li>
  <li><a href="Q27177633">Center for Integrated Molecular Brain Imaging</a></li>
</ul>

{% endblock %}
