{% extends "base.html" %}

{% block scripts %}
{{super()}}

<script type="text/javascript">
    organizationTopicsSparql = `
SELECT DISTINCT ?work ?workLabel ?author ?authorLabel ?publication_date WHERE {
  { ?author ?p1 wd:{{ q1 }}. }
  UNION
  {
    ?author ?p2 ?something .
    ?something wdt:P361 wd:{{ q1 }}.
  }
  ?work wdt:P50 ?author;
    wdt:P921 wd:{{ q2 }}.
  OPTIONAL { ?work wdt:P577 ?publication_date. }
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
}
GROUP BY ?work ?workLabel ?author ?authorLabel ?publication_date
ORDER BY DESC (?publication_date)
LIMIT 200
`;


 $(document).ready(function() {
     sparqlToDataTable(
	 organizationTopicsSparql, "#topics", {
	     linkPrefixes:{"author": "../../../author/",
			   "work": "../../../work/"} });
 });
</script>


{% endblock %}



{% block page_content %}

<h1 id="h1">Organization-topic</h1>

<div id="intro"></div>


<h2 id="Recent publications">Recent publications</h2>

<table class="table table-hover" id="topics"></table>


{% endblock %}
