{% extends "base.html" %}

{% block page_content %}

<h1>Organization</h1>

Universities, research centers, ...

<h2>Examples</h2>

<ul>
  <li><a href="Q1269766">Technical University of Denmark</a></li>
  <li><a href="Q131626">Smithsonian Institution</a></li>
  <li><a href="Q19845644">Department of Bioinformatics - BiGCaT</a> (Maastricht University)</li>
  <li><a href="Q21561406">Wikimedia Research</a></li>
  <li><a href="Q23048689">DTU Compute</a></li>
  <li><a href="Q24283660">Cognitive Systems</a> (research group at DTU Compute)</li>
  <li><a href="Q27177633">Center for Integrated Molecular Brain Imaging</a></li>
  <li><a href="Q27639076">Research Institute of Text Analysis and Applications </a></li>
  <li><a href="Q33015428">Indiana University Lilly Family School of Philanthropy</a></li>
  <li><a href="Q1150437">Victoria University of Wellington</a></li>
  <li><a href="Q1451981">Fraunhofer Institute for Algorithms and Scientific Computing</a></li>
</ul>

<h3>Multiple organizations</h3>

<ul>
    <li><a href="../organizations/Q1269766,Q193196">Technical University of Denmark and UCL</a></li>
    <li><a href="../organizations/Q24283660,Q19845644">DTU Cognitive Systems and Department of Bioinformatics - BiGCaT</a></li>
    <li><a href="../organizations/Q216273,Q34433,Q35794">St Andrews, Oxford, Cambridge universities</a></li>
    <li><a href="../organizations/Q13371,Q49115,Q41506">Stanford, Cornell, Harvard</a></li>
</ul>


<h3>Subaspect: Organizations and topics</h3>

<ul>
  <li><a href="Q19375720/topic/Q202864">Institut Louis-Malardé and Zika virus</a></li>
  <li><a href="Q1062129/topic/Q1137203">Tohoku University and thin films</a></li>
  <li><a href="Q649998/topic/Q6786626">University of Nairobi and maternal health</a></li>
  <li><a href="Q1285262/topic/Q179918">University of Alaska Fairbanks and permafrost</a></li>
</ul>



{% endblock %}
