{% extends "base.html" %}

{% block page_content %}

<h1>Biological pathways</h1>

<div class="container">

    <h2>Examples</h2>

    <div class="card-deck mb-3">
	<div class="card mb-4 box-shadow">

            <div class="card-header">
		<h4 class="my-0 font-weight-normal">Single items</h4>
            </div>
            <div class="card-body">
		<dl>
		    <dt><a href="Q30225516">Aryl Hydrocarbon Receptor Pathway</a></dt>
		    <dd>
			A pathway from WikiPathways.
		    </dd>

		    <dt><a href="Q30225468">TNF related weak inducer of apoptosis (TWEAK) Signaling Pathway</a></dt>
		    <dd>
			A pathway from WikiPathways.
		    </dd>

		    <dt><a href="Q50294491">Acetyl-CoA + H2O + Oxaloacetate => Citrate + CoA</a></dt>
		    <dd>
			A pathway from Reactome.
		    </dd>
		</dl>
            </div>

	</div>


     <div class="card mb-4 box-shadow">
	    <div class="card-header">
		    <h4 class="my-0 font-weight-normal">Redirecting</h4>
	    </div>
	    <div class="card-body">
		<p>If you know the identifier then Scholia can make a lookup based on the identifier:</p>

		<dl>
		    <dt><a href="../wikipathways/WP111">wikipathways/WP111</a></dt>
		    <dd>Lookup WikiPathways identifier  WP111, <i>Electron Transport Chain (OXPHOS system in mitochondria)</i></dd>
		</dl>
	    </div>
        </div>
    </div>
</div>

<div class="container">
  <h2>Statistics</h2>

  <table class="table table-hover" id="statistics"></table>

</div>

{% endblock %}


{% block scripts %}
{{super()}}

<script type="text/javascript">

 statisticsSparql = `
SELECT ?count ?description
WITH {
  SELECT (COUNT(DISTINCT ?article) AS ?count) WHERE {
    VALUES ?database { wdt:P2410 wdt:P3937 }
    [] ?database [] ; wdt:P2860 ?article .
  }
} AS %literature
WITH {
  SELECT (COUNT(*) AS ?count) WHERE { [] wdt:P2410 []. }
} AS %wikipathways
WITH {
  SELECT (COUNT(*) AS ?count) WHERE { [] wdt:P3937 []. }
} AS %reactome
WHERE {
  {
    INCLUDE %wikipathways
    BIND("Total number of WikiPathways pathways" AS ?description)
  }
  UNION
  {
    INCLUDE %literature
    BIND("Total number of articles cited by pathways" AS ?description)
  }
  UNION
  {
    INCLUDE %reactome
    BIND("Total number of Reactome pathways" AS ?description)
  }
}
ORDER BY DESC(?count)
`

 $(document).ready(function() {
     sparqlToDataTable(statisticsSparql, "#statistics");
 });

</script>


{% endblock %}

  
