{% extends "base.html" %}

{% set aspect = "pathway" %}

{% block in_ready %}

{{ sparql_to_table('participants') }}
{{ sparql_to_table('citing-articles') }}
{{ sparql_to_table('recent-articles') }}
{{ sparql_to_iframe('publications-per-year') }}

{% endblock %}

{% block scripts %}
{{super()}}

<script type="text/javascript">
const optionalDataValuesSparql =`
SELECT ?wpid ?organism ?organismLabel ?pathwayDescription
WHERE {
  VALUES ?pathway { wd:{{q}} }
  OPTIONAL {
    wd:{{ q }} wdt:P2410 ?wpid ;
    wdt:P703 ?organism .
  }
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en" . }
}
`

$(document).ready(function() {
  // Hide optional sections until data values are confirmed and ready
  var organismSection = document.getElementById("Organism")                                                                                         
  organismSection.style.display = "none"; 

  var pathwayViewerSection = document.getElementById("pathway-viewer")                                                                                
  pathwayViewerSection.style.display = "none"; 

  // Check for optional data values and then use them if available
  const sparqlURL = 'https://query.wikidata.org/bigdata/namespace/wdq/sparql?query=' + 
    encodeURIComponent(optionalDataValuesSparql) + '&format=json';
  $.getJSON(sparqlURL, function(response) {
    const simpleData = sparqlDataToSimpleData(response);
    const dataValues = simpleData.data[0];
    if ("pathwayDescription" in dataValues) {
      $("#description").text(dataValues.pathwayDescription);
    }
    if ("organism" in dataValues) {
      $("#Organism").after('<a href="' +
			   dataValues.organism +
			   '">' +
			   escapeHTML(dataValues.organismLabel) +
			   '</a>'); 
      organismSection.style.display = "";
    }
    if ("wpid" in dataValues) {
      const pathwayViewerIFrameResults = $.find("#pathway-viewer > iframe");
      pathwayViewerIFrameResults.every(function(pathwayViewerIFrameResult) {
        pathwayViewerIFrameResult.setAttribute("src", `https://pathway-viewer.toolforge.org/?id=${dataValues.wpid}`);
      });
      pathwayViewerSection.style.display = "";
    }
  });
});

</script>

{% endblock %}

{% block page_content %}
<h1 id="h1">Pathway</h1>

<div id="intro"></div>

<div id="description"></div><br />

<div id="pathway-viewer" class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="" style="border-width: 1px; border-color: rgb(222,226,230); border-style: solid;" referrerpolicy="origin" sandbox="allow-scripts allow-same-origin allow-popups" ></iframe>
</div>

<h2 id="Organism">Organism</h2>

<h2 id="participants-header">Participants</h2>

<table class="table table-hover" id="participants-table"></table>

<h2 id="recent-articles-header">Published works related to the pathway</h2>

<table class="table table-hover" id="recent-articles-table"></table>


<h2 id="citing-articles-header">Works citing this pathway</h2>

<table class="table table-hover" id="citing-articles-table"></table>

<h2 id="publications-per-year-header">Publications per year</h2>

<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" id="publications-per-year-iframe" referrerpolicy="origin" sandbox="allow-scripts allow-same-origin allow-popups"></iframe>
</div>

{% endblock %}