{% extends "base.html" %}

{% set aspect = "podcast" %}

{% block in_ready %}

{{ sparql_to_table_post('data') }}
{{ sparql_to_table_post('listings') }}
{{ sparql_to_table_post('recent-episodes') }}
{{ sparql_to_iframe('topics') }}
{{ sparql_to_table_post('seasons') }}

{% endblock %}

{% block page_actions %}
{{ super() }}
{% endblock %}

{% block page_content %}
<h1 id="h1">Podcast</h1>

<div id="intro"></div>

<div id="wembedder"></div>

<div id="details"></div>

<table class="table table-hover" id="data-table"></table>

<h2 id="listings">Listings</h2>

<table class="table table-hover" id="listings-table"></table>

<h2 id="recent-episodes">Recent episodes</h2>

<table class="table table-hover" id="recent-episodes-table"></table>

<h3 id="topics">Topic scores</h3>

<div class="embed-responsive embed-responsive-4by3">
    <iframe class="embed-responsive-item" id="topics-iframe"></iframe>
</div>

<h2 id="seasons">Seasons</h2>

<table class="table table-hover" id="seasons-table"></table>

{% endblock %}
    
