{% extends "base.html" %}

{% set aspect = "podcast-episode" %}

{% block in_ready %}

{{ sparql_to_table_post('data') }}
{{ sparql_to_table_post('guests') }}

{% endblock %}

{% block page_actions %}
{{ super() }}
{% endblock %}

{% block page_content %}
<h1 id="h1">Podcast Episode</h1>

<div id="intro"></div>

<div id="details"></div>

<table class="table table-hover" id="data-table"></table>

<div id="wembedder"></div>

<h2 id="guests">Guests</h2>

<table class="table table-hover" id="guests-table"></table>

{% endblock %}
    
