{% extends "base.html" %}

{% block scripts %}
{{super()}}

<script type="text/javascript">

  printedWorksSparql = `
# List of printed works by date
SELECT
  ?date
  ?work ?workLabel
  ?example_author ?example_authorLabel
WHERE {
  {
    SELECT
      (MIN(?date_) AS ?date)
      ?work
      (SAMPLE(?author) AS ?example_author)
    WHERE {
      ?work wdt:P872 wd:{{ q }} .
      OPTIONAL { ?work wdt:P577 ?datetime . BIND(xsd:date(?datetime) AS ?date_) }
      OPTIONAL { ?work wdt:P50 ?author }
    }
    GROUP BY ?work
  }
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en,da,de,es,fr,it,jp,nl,no,ru,sv,zh". }
}
ORDER BY DESC(?date)
LIMIT 1000
 `


 $(document).ready(function() {
     sparqlToDataTable(
	 printedWorksSparql, "#printed-works",
	 {
	     linkPrefixes: {
		 work: '../work/',
		 example_author: '../author/',
	     },
	 },
     );
 });
</script>

{% endblock %}



{% block page_content %}
<h1 id="printer">Printer</h1>

<div id="printer-intro"></div>

<h2 id="printed-works">Printed works</h2>

<table class="table table-hover" id="printed-works-table"></table>



{% endblock %}
