{% extends "base.html" %}

{% block page_content %}

<h1>Project</h1>

Research projects.


<h2>Examples</h2>

<ul>
  <li><a href="Q27990087">eNanoMapper</a></li>
  <li><a href="Q27949537">EU NanoSafety Cluster</a></li>
  <li><a href="Q52268104">Amyloid fibril cytotoxicity: new insights from novel approaches (AMYTOX)</a>, ERC Advanced Grant</li> 
  <li><a href="Q54514942">Mapping visual cortical regions in awake, behaving monkey using functional mri (MAPAWAMO)</a></li>
  <li><a href="Q54826536">Measuring with no tape</a>, ERC Starting Grant</li>
  <li><a href="Q55089213">High-Definition Tomography</a>, ERC Advanced Grant</li>
</ul>


<h2>Statistics</h2>

<table class="table table-hover" id="statistics"></table>

{% endblock %}



{% block scripts %}
{{super()}}

<script type="text/javascript">

 statisticsSparql = `
SELECT ?count ?description
WITH {
  SELECT (COUNT(*) AS ?count) WHERE { [] wdt:P3400 []. }
} AS %cordis
WITH {
  SELECT (COUNT(*) AS ?count) WHERE { [] wdt:P4870 []. }
} AS %gepris
WHERE {
  {
    INCLUDE %cordis
    BIND("Total number of projects with a CORDIS number" AS ?description)
  }
  UNION
  {
    INCLUDE %gepris
    BIND("Total number of projects with a GEPRIS number" AS ?description)
  }
}
ORDER BY DESC(?count)
`

 $(document).ready(function() {
     sparqlToDataTable(statisticsSparql, "#statistics");
 });

</script>

{% endblock %}

  
