{% extends "base.html" %}

{% block page_content %}

<h1>Project</h1>

Research projects.


<div class="container">

<h2>Examples</h2>

<div class="card-deck mb-3">
	<div class="card mb-4 box-shadow">

		<div class="card-header">
			<h4 class="my-0 font-weight-normal">Individual Projects</h4>
		</div>
		<div class="card-body">
			<dl>
				<dt><a href="Q27990087">eNanoMapper</a></dt>
				<dd>
					View information about the eNanoMapper project.
				</dd>

				<dt><a href="Q52268104">AMYTOX</a></dt>
				<dd>
					View information about the ERC Advanced Grant
					Amyloid fibril cytotoxicity: new insights from novel approaches (AMYTOX).
				</dd>

				<dt><a href="Q54514942">MAPAWAMO</a></dt>
				<dd>
					View information about the Mapping visual cortical regions in awake, behaving monkey using functional MRI (MAPAWAMO) project.
				</dd>

				<dt><a href="Q54826536">Measuring with no tape</a></dt>
				<dd>
					View information about the ERC Starting Grant
					Measuring with no tape.
				</dd>

				<dt><a href="Q55089213">High-Definition Tomography</a></dt>
				<dd>
					View information about the ERC Advanced Grant
					High-Definition Tomography.
				</dd>
			</dl>
		</div>
	</div>

     <div class="card mb-4 box-shadow">
	    <div class="card-header">
		    <h4 class="my-0 font-weight-normal">Clusters</h4>
	    </div>
	    <div class="card-body">

			<dl>
				<dt><a href="Q27949537">EU NanoSafety Cluster</a></dt>
				<dd>A long running European Commission funded cluster of
					research projects that are working together.</dd>
			</dl>
	    </div>
	</div>

    <div class="card mb-4 box-shadow">
	    <div class="card-header">
		    <h4 class="my-0 font-weight-normal">Redirecting</h4>
	    </div>
	    <div class="card-body">
			<p>If you know the identifier then Scholia can make a lookup based on the identifier:</p>

			<dl>
				<dt><a href="../cordis/310584">cordis/310584</a></dt>
				<dd>Lookup CORDIS 310584. This will identify NANoREG
				and redirect to its Scholia page.</dd>
			</dl>
	    </div>
	</div>

</div>

<div class="container">

<h2>Statistics</h2>

<table class="table table-hover" id="statistics"></table>

<h3>Citations per budget</h3>

<table class="table table-hover" id="citations-per-budget"></table>

</div>

{% endblock %}



{% block scripts %}
{{super()}}

<script type="text/javascript">

 statisticsSparql = `
SELECT ?count ?description
WITH {
  SELECT (COUNT(*) AS ?count) WHERE { [] wdt:P3400 []. }
} AS %cordis
WITH {
  SELECT (COUNT(*) AS ?count) WHERE { [] wdt:P4870 []. }
} AS %gepris
WHERE {
  {
    INCLUDE %cordis
    BIND("Total number of projects with a CORDIS number" AS ?description)
  }
  UNION
  {
    INCLUDE %gepris
    BIND("Total number of projects with a GEPRIS number" AS ?description)
  }
}
ORDER BY DESC(?count)
`

 citationsPerBudgetSparql = `
SELECT
  ?cites_per_million
  ?citations 
  ?budget ?currency ?currencyLabel
  ?project ?projectLabel
WITH {
  SELECT
    (COUNT(?citing_work) / ?budget * 1000000 AS ?cites_per_million)
    (COUNT(?citing_work) AS ?citations)
    ?budget ?currency
    ?project
  WHERE {
    ?project p:P2769 / psv:P2769 ?budget_value .
    ?budget_value wikibase:quantityAmount ?budget .
    ?budget_value wikibase:quantityUnit ?currency .
    ?work wdt:P859 ?project .
    ?citing_work wdt:P2860 ?work .
  } 
  GROUP BY ?project ?budget ?currency
} AS %results
WHERE {
  INCLUDE %results
  SERVICE wikibase:label {
    bd:serviceParam wikibase:language "en,da,de,es,fr,jp,nl,no,ru,sv,zh". }
}
ORDER BY DESC(?cites_per_million)
`


 $(document).ready(function() {
     sparqlToDataTable(statisticsSparql, "#statistics");
     sparqlToDataTable(citationsPerBudgetSparql, "#citations-per-budget");
 });

</script>

{% endblock %}

  
