{% extends "base.html" %}

{% set aspect = "property" %}

{% block in_ready %}

{{ sparql_to_table('use',
    options={
    "linkPrefixes": {
       "item": "./",
	     "property_value": "./",
     }})}}

{{ sparql_to_iframe('item-counts') }}
{{ sparql_to_iframe('property-value-counts') }}

{% endblock %}

{% block page_content %}

<h1>Property: {{ p }}</h1>

<h2 id="use-header">Use</h2>

<table class="table table-hover" id="use-table"></table>


<h2 id="item-counts-header">Item counts</h2>

<div class="embed-responsive embed-responsive-4by3">
  <iframe class="embed-responsive-item" id="item-counts-iframe"></iframe>
</div>
    

<h2 id="property-value-counts-header">Property value counts</h2>

<div class="embed-responsive embed-responsive-4by3">
  <iframe class="embed-responsive-item" id="property-value-counts-iframe"></iframe>
</div>




{% endblock %}
