{% extends "base.html" %}

{% block title %}Property - Scholia{% endblock %}

{% block page_content %}

<h1>Property</h1>

Part of statements according to the Wikidata data model

<h2>Examples</h2>

<ul>
  <li><a href="/P50">Author</a></li>
  <li><a href="/P1416">Afiliation</a></li>
  <li><a href="/P2860">Cities work</a></li>
  <li><a href="/P108">Employer</a></li>
  <li><a href="/P166">Award received</a></li>
  <li><a href="/P4844">Research intervention</a></li>
  <li><a href="/P463">Member of</a></li>
  <li><a href="/P1416">Afiliation</a></li>
  <li><a href="/P821">Speaker</a></li>
  <li><a href="/P664">Organizer of</a></li>
  <li><a href="/P710">Participant</a></li>
</ul>

{% endblock %}
