{% extends "base.html" %}

{% set aspect = "protein" %}

{% block in_ready %}

{{ sparql_to_table('similar-proteins') }}
{{ sparql_to_table('cofunctional-proteins') }}
{{ sparql_to_iframe('publications-per-year') }}

{% endblock %}

{% block page_content %}
<h1 id="h1">Protein</h1>
<script type="application/ld+json" id="bioschemas"></script>

<div id="intro"></div>

<!-- 
     <h2 id="similar-proteins-header">Similar proteins</h2>

     Proteins sharing similar properties (molecular function(s),
     cell components, biological process, physical interaction).

     <table class="table table-hover" id="similar-proteins-table"></table>
   -->

<h2 id="cofunctional-proteins-header">Cofunctional proteins</h2>

Proteins sharing molecular function(s).

<table class="table table-hover" id="cofunctional-proteins-table"></table>


<h2 id="publications-per-year-header">Publications per year</h2>

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" id="publications-per-year-iframe"></iframe>
</div>

{% endblock %}