{% extends "base.html" %}

{% block page_content %}

    <h1>Proteins</h1>

    Proteins.

    <div class="container">

        <h2>Examples</h2>

        <div class="card-deck mb-3">
            <div class="card mb-4 box-shadow">

                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Single items</h4>
                </div>
                <div class="card-body">
                    <dl>
                        <dt><a href="Q424728">P53</a></dt>
                        <dd>
                            Tumor protein p53 in <em>Homo sapiens</em>.
                        </dd>

                        <dt><a href="Q21109365">HTR4</a></dt>
                        <dd>
                            Serotonin receptor 4 in <em>Homo sapiens</em>.
                        </dd>
                    </dl>
                </div>

            </div>

            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Redirecting</h4>
                </div>
                <div class="card-body">
                    <p>If you know the identifier then Scholia can make a lookup based on the
                        identifier:</p>

                    <dl>
                        <dt><a href="../uniprot/P02649">uniprot/P02649</a></dt>
                        <dd>Information on Apolipoprotein E based on the UniProt identifier.</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

{% endblock page_content %}
