{% extends "base.html" %}


{% block navbar %}
<div class="navbar navbar-static-top">
    <ul class="nav nav-pills">
	<li role="presentation"><a href="..">Scholia</a></li>
	<li role="presentation"><a href="../author/">Author</a></li>
	<li role="presentation"><a href="../work/">Work</a></li>
	<li role="presentation"><a href="../organization/">Organization</a></li>
	<li role="presentation"><a href="../venue/">Venue</a></li>
	<li role="presentation"><a href="../series/">Series</a></li>
	<li role="presentation"><a href="../publisher/">Publisher</a></li>
	<li role="presentation"><a href="../sponsor/">Sponsor</a></li>
	<li role="presentation"><a href="../award/">Award</a></li>
	<li role="presentation">
	    <div class="dropdown">
		<button class="btn btn-primary dropdown-toggle" 
			type="button" data-toggle="dropdown">Topic
		    <span class="caret"></span></button>
		<ul class="dropdown-menu">
		    <li role="presentation"><a href="../topic/">General</a></li>
		    <li role="presentation"><a href="../disease/">Disease</a></li>
		    <li role="presentation" class="active"><a href="./">Protein</a></li>
		    <li role="presentation"><a href="../chemical/">Chemical</a></li>
		    <li role="presentation"><a href="../chemical-element/">Chemical element</a></li>
		    <li role="presentation"><a href="../chemical-class/">Chemical class</a></li>
		</ul>
	    </div>
	</li>
	<li role="presentation"><a href="../about">About</a></li>
    </ul>
</div>


{% endblock %}

