{% extends "base.html" %}

{% set aspect = "publisher" %}

{% block in_ready %}

{{ sparql_to_table('journals') }}
{{ sparql_to_table('editors') }}
{{ sparql_to_table('most-cited') }}
{{ sparql_to_iframe('timeline') }}
{{ sparql_to_iframe('editor-photos') }}
{{ sparql_to_iframe('citations-works') }}

{% endblock %}

{% block page_content %}

<h1 id="h1">Publisher</h1>

<div id="intro"></div>

<div id="wembedder"></div>


<h2 id="journals">Journals and other collections</h2>

<table class="table table-hover" id="journals-table"></table>


<h2 id="timeline">Recently established journals</h2>

At most 50 journals are displayed.

<div class="embed-responsive embed-responsive-4by3">
    <iframe class="embed-responsive-item" id="timeline-iframe"></iframe>
</div>


<h2 id="editors">Editors</h2>

Editors association with the publisher, e.g., by being editor of a journal or a
proceeding published by the publisher.

<table class="table table-hover" id="editors-table"></table>

<div class="embed-responsive embed-responsive-4by3">
  <iframe class="embed-responsive-item" id="editor-photos-iframe"></iframe>
</div>




<h2>Citations</h2>

<h3 id="most-cited">Most cited papers</h3>

<table class="table table-hover" id="most-cited-table"></table>

<h3 id="citations-works">As function of number of published works</h3>

<div class="embed-responsive embed-responsive-4by3">
  <iframe class="embed-responsive-item" id="citations-works-iframe"></iframe>
</div>



{% endblock %}
    
