{% extends "base.html" %}

{% block page_content %}

<h1>Publisher</h1>

Organizations publishing scientific journals, books, ...

<h2>Examples</h2>

<ul>
  <li><a href="Q127992">Association for Computing Machinery</a></li>
  <li><a href="Q1619253">Hindawi</a></li>
  <li><a href="Q746413">Elsevier</a></li>
  <li><a href="Q233358">Public Library of Science (PLOS)</a></li>
  <li><a href="Q73820">MIT Press</a></li>
  <li><a href="Q3437386">Museum Tusculanums Press</a></li>
  <li><a href="Q180419">Nature Publishing Group</a></li>
  <li><a href="Q463494">BioMed Central</a></li>
  <li><a href="Q131566">Institute of Electrical and Electronics Engineers</a></li>
  <li><a href="Q247556">American Chemical Society</a></li>
</ul>

{% endblock %}

  
