{% extends "base.html" %}

{% block page_content %}

<h1 id="h1">Improve...</h1>

<p>Our data source is <a href="https://www.wikidata.org/wiki/Wikidata:Main_Page">Wikidata</a>, a structured data project
  similar to the encyclopedia project Wikipedia. Each item is identified by a Q number, and information can be added
  directly to an item's page (in this case, <a
    href='https://www.wikidata.com/{{q}}'>https://www.wikidata.com/{{q}}</a>). Some information however, like an
  author's papers, are stored on the item for the paper itself. The "<a
    href="https://www.wikidata.org/w/index.php?title=Special%3AWhatLinksHere&target{{q}}&namespace=0">What links
    here</a>" link in the sidebar of an item can show these items.</p>

{% if self.wikidata() %}
{% endif %}

{% block wikidata %}{% endblock %}

<p>There are also various <a href="https://www.wikidata.org/wiki/Wikidata:Tools/Edit_items">tools</a> available which
  can make editing Wikidata quicker and more rigorous.</p>

{% if self.author_disambiguator() %}
<p>Most importantly for Scholia is the <a href="https://author-disambiguator.toolforge.org">Author
    Disambiguator</a>, which can be used to quickly create new authors and find
  existing papers which do not link to the author. In the tables below, you can see
  how many results there are per author, and use the "author-disambiguator" link to add information for them.</p>
{% endif %}

{% block author_disambiguator %}{% endblock %}

{% endblock %}