{% extends "base.html" %}

{% block page_content %}

<h1 id="h1">Improve...</h1>

<p>Our data source is <a href="https://www.wikidata.org/wiki/Wikidata:Main_Page">Wikidata</a>, a structured data project
  similar to the encyclopedia project Wikipedia. Each item is identified by a Q number, and information can be added
  directly to an item's page (in this case, <a
    href='https://www.wikidata.org/entity/{{q}}'>https://www.wikidata.org/entity/{{q}}</a>). Some information however, like an
  author's papers, are stored on the item for the paper itself. The "<a
    href="https://www.wikidata.org/w/index.php?title=Special%3AWhatLinksHere&target={{q}}&namespace=0">What links
    here</a>" link in the sidebar of an item can show these items.</p>

<p>There are also various <a href="https://www.wikidata.org/wiki/Wikidata:Tools/Edit_items">tools</a> available which
  can make editing Wikidata quicker and more rigorous.</p>

<p>Most important for Scholia is the <a href="https://author-disambiguator.toolforge.org">Author
    Disambiguator</a>, which can be used to quickly create new dedicated items for authors and find
  existing papers which do not link to the author.</p>


{% block curation_panels %}{% endblock %}


{% endblock %}
