<div>{{error}}</div>

<form method="POST" action="">
  <div class="form-group">
    <textarea type="text" name="comment" placeholder="description" class="form-control"></textarea>
  </div>
  <div class="form-group">
    {{ captcha() }}
    <input type="text" name="captcha" class="form-control" placeholder="captcha">
    <small id="emailHelp" class="form-text text-muted">Please fill in the text you see in the image.</small>
  </div>
  <input type="hidden" name="url" value="{{ url }}" readonly/>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>



