{% extends "base.html" %}

{% set aspect = "retraction" %}
{% block title %}Retractions - Scholia{% endblock %}

{% block in_ready %}

{{ sparql_to_table('list-of-authors') }}
{{ sparql_to_iframe('citations-per-year') }}

{% endblock %}



{% block page_content %}

<h1 id="h1">Retraction</h1>

<h2 id="list-of-authors">List of authors</h2>

<table class="table table-hover" id="list-of-authors-table"></table>

<h2 id="citations-per-year">Citations per year</h2>

This plot shows the number of citations to the retracted article over time.
If the date of retraction is known, it colors which citations have been made
before and after the retraction.

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" id="citations-per-year-iframe"></iframe>
</div>

{% endblock %}

