{% extends "base.html" %}

{% set aspect = "retraction" %}
{% block title %}Retractions - Scholia{% endblock %}

{% block in_ready %}

{{ sparql_to_table_post('data') }}

{{ sparql_to_table('list-of-authors') }}
{{ sparql_to_iframe('citations-per-year') }}
{{ sparql_to_table('statements-with-retracted-references') }}

{% endblock %}



{% block page_content %}

<h1 id="h1">Retraction</h1>

<table class="table table-hover" id="data-table"></table>

<h2 id="list-of-authors">List of authors</h2>

<table class="table table-hover" id="list-of-authors-table"></table>

<h2 id="citations-per-year">Citations per year</h2>

This plot shows the number of citations to the retracted article over time.
If the date of retraction is known, it colors which citations have been made
before and after the retraction.

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" id="citations-per-year-iframe"></iframe>
</div>

<h2 id="statements-with-retracted-references">Wikidata statements citing retracted references</h2>

<table class="table table-hover" id="statements-with-retracted-references-table"></table>

{% endblock %}

