{% extends "base.html" %}

{% block page_content %}

<h1>Series</h1>

Proceedings series, ...

<h2>Examples</h2>

<ul>
    <li><a href="Q924044">Lecture Notes in Computer Science (LNCS)</a></li>
    <li><a href="Q15767446">Advances in Neural Information Processing Systems (NIPS)</a></li>
    <li><a href="Q27230297">CEUR Workshop Proceedings</a></li>
    <li><a href="Q27611306">Proceedings of the International Symposium on Open Collaboration (WikiSym/OpenSym)</a></li>
    <li><a href="Q40763903">CSLI Lecture Notes</a></li>

</ul>

{% endblock %}

  
