{% extends "series_base.html" %}

{% block page_content %}
<h1 id="h1">Series</h1>

<div id="intro"></div>


<h2>In series</h2>

<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://query.wikidata.org/embed.html#select%20%3Fcollection%20%3FcollectionLabel%20%3Fpublication_date%20%3Fnumber_of_papers%20where%20%7B%0A%20%20%7B%20%0A%20%20%20%20select%20%3Fcollection%20%28min%28%3Fdates%29%20as%20%3Fpublication_date%29%20%28count%28%3Fwork%29%20as%20%3Fnumber_of_papers%29%20where%20%7B%0A%20%20%20%20%20%20%3Fcollection%20wdt%3AP179%20wd%3A{{ q }}%20.%0A%20%20%20%20%20%20%3Fwork%20wdt%3AP1433%20%3Fcollection%20.%0A%20%20%20%20%20%20optional%20%7B%20%3Fcollection%20wdt%3AP577%20%3Fdates%20.%20%7D%0A%20%20%20%20%7D%0A%20%20%20%20group%20by%20%3Fcollection%0A%20%20%7D%0A%20%20service%20wikibase%3Alabel%20%7B%20bd%3AserviceParam%20wikibase%3Alanguage%20%22en%2Cfr%2Cde%2Cjp%2Cda%2Csv%2Cnl%22%20%7D%0A%7D%0Aorder%20by%20desc%28%3Fpublication_date%29%0A"></iframe>
</div>


<h2><a name="published works">Published works</a></h2>

<div class="embed-responsive embed-responsive-4by3">
  <iframe class="embed-responsive-item" src="https://query.wikidata.org/embed.html#select%20%3Fwork%20%3FworkLabel%20%28min%28%3Fdates%29%20as%20%3Fpublication_date%29%20%28count%28%3Fciting_work%29%20as%20%3Fnumber_of_citations%29%20where%20%7B%0A%20%20%3Fcollection%20wdt%3AP179%20wd%3A{{ q }}%20.%0A%20%20%3Fwork%20wdt%3AP1433%20%3Fcollection%20.%0A%20%20optional%20%7B%20%3Fwork%20wdt%3AP577%20%3Fdates%20.%20%7D%0A%20%20optional%20%7B%20%3Fciting_work%20wdt%3AP2860%20%3Fwork%20.%20%7D%0A%20%20service%20wikibase%3Alabel%20%7B%20bd%3AserviceParam%20wikibase%3Alanguage%20%22en%2Cfr%2Cde%2Cjp%2Cda%2Csv%2Cnl%22%20%7D%0A%7D%0Agroup%20by%20%3Fwork%20%3FworkLabel%20%0Aorder%20by%20desc%28%3Fnumber_of_citations%29"></iframe>
</div>


{% endblock %}
    
