{% extends "base.html" %}

{% set aspect = "software" %}

{% block in_ready %}

{{ sparql_to_table('data', options={'paging': False}) }}
{{ sparql_to_table('recent-works') }}
{{ sparql_to_table('coused') }}
{{ sparql_to_iframe('topics') }}
{{ sparql_to_table('authors') }}
{{ sparql_to_iframe('software-dependencies') }}
{{ sparql_to_table('dependent-software') }}


{% endblock %}

{% block page_actions %}
<a href="/software/{{ q }}/export" role="button" class="btn btn-outline-secondary">Cite</a>
{{ super() }}
{% endblock %}

{% block page_content %}

<h1 id="h1">Software</h1>

<div id="intro"></div>

<table class="table table-hover" id="data-table"></table>

<h2 id="recent-works">Recent work using the software</h2>

<table class="table table-hover" id="recent-works-table"></table>


<h2 id="coused">Co-used</h2>

<table class="table table-hover" id="coused-table"></table>

<h2 id="topics">Topics of works using the software</h2>

<div class="embed-responsive embed-responsive-4by3">
  <iframe class="embed-responsive-item" id="topics-iframe"></iframe>
</div>

<h2 id="authors">Authors of works using the software</h2>

<table class="table table-hover" id="authors-table"></table>


<h2 id="software-dependencies">Software dependencies</h2>

<div class="embed-responsive embed-responsive-4by3">
  <iframe class="embed-responsive-item" id="software-dependencies-iframe"></iframe>
</div>


<h2 id="dependent-software">Dependent software</h2>

<table class="table table-hover" id="dependent-software-table"></table>



{% endblock %}
    
