{% extends "sponsor_base.html" %}

{% block scripts %}
{{super()}}

<script type="text/javascript">
  recentlyPublishedSponsoredWorkSparql = `
SELECT ?publication_date ?number_of_citations ?work ?workLabel ?quote
WITH {
  SELECT (MIN(?date) AS ?publication_date) (COUNT(?citing_work) as ?number_of_citations) ?work (SAMPLE(?quote_) AS ?quote) WHERE {
    ?work p:P859 ?sponsor_statement .
    ?sponsor_statement ps:P859 wd:{{ q }} .
    OPTIONAL { ?sponsor_statement prov:wasDerivedFrom/pr:P1683 ?quote_ . }
    ?work wdt:P577 ?datetime .
    BIND(xsd:date(?datetime) AS ?date)
    OPTIONAL { ?citing_work wdt:P2860 ?work }
  } 
  GROUP BY ?work
} AS %result
WHERE {
  INCLUDE %result
  SERVICE wikibase:label { bd:serviceParam wikibase:language "en,da,de,es,fr,jp,nl,no,ru,sv,zh" }
} 
ORDER BY DESC(?publication_date) DESC(?number_of_citations)
LIMIT 1000
`

  authorsOnSponsoredWorkSparql = `
  SELECT ?publication_count ?author ?authorLabel
WITH {
  SELECT ?author (count(?work) as ?publication_count) WHERE {
    ?work wdt:P859 wd:{{ q }} .
    ?work wdt:P50 ?author .
  }
  GROUP BY ?author
} AS %result
WHERE {
  INCLUDE %result
  SERVICE wikibase:label { bd:serviceParam wikibase:language "en,da,de,es,fr,jp,nl,no,ru,sv,zh" }
} 
ORDER BY DESC(?count)
  `

  coSponsorsSparql = `
  # Co-founders
SELECT ?count ?sponsor ?sponsorLabel
WITH {
  SELECT (COUNT(?work) AS ?count) ?sponsor WHERE {
    ?work wdt:P859 wd:{{ q }} .
    ?work wdt:P859 ?sponsor .
    FILTER (wd:{{ q }} != ?sponsor)
  }
  GROUP BY ?sponsor
} AS %result
WHERE {
  INCLUDE %result
  SERVICE wikibase:label { bd:serviceParam wikibase:language "en,da,de,fr,es,jp,it,nl,no,ru,sv,zh" }
}
ORDER BY DESC(?count)
  `
 
 $(document).ready(function() {
  sparqlToDataTable(recentlyPublishedSponsoredWorkSparql,
    "#recently-published-sponsored-work");
  sparqlToDataTable(authorsOnSponsoredWorkSparql, "#authors-on-sponsored-work");
  sparqlToDataTable(coSponsorsSparql, "#co-sponsors");
 });
</script>

{% endblock %}



{% block page_content %}
<h1 id="h1">Sponsor</h1>

<div id="intro"></div>

<h2 id="Recently published sponsored work">Recently published sponsored work</h2>

<table class="table table-hover" id="recently-published-sponsored-work"></table>


<h2 id="Authors on sponsored work">Authors on sponsored work</h2>

<table class="table table-hover" id="authors-on-sponsored-work"></table>



<h2 id="Co-sponsors">Co-sponsors</h2>

<table class="table table-hover" id="co-sponsors"></table>


{% endblock %}
    
