{% extends "base.html" %}

{% block title %}Sponsor - Scholia{% endblock %}

{% block page_content %}

<h1 data-i18n="sponsor-empty-sponsor">Sponsor</h1>

Funding.

<h2 data-i18n="sponsor-empty-examples">Examples</h2>

<ul>
  <li><a href="Q22329431">Lundbeck Foundation</a></li>
  <li><a href="Q26332849">Danish Council for Independent Research | Medical Sciences</a></li>
  <li><a href="Q60346">National Institute for Occupational Safety and Health</a></li>
  <li><a href="Q1377836">European Research Council</a>
</ul>

{% endblock %}

  
