{% extends "taxon_base.html" %}

{% block scripts %}
{{super()}}

<script type="text/javascript">

 variantsSparql = `
SELECT ?variant ?variantLabel ?types
WITH {
  SELECT ?variant ?type
  WHERE {
    ?variant wdt:P3433 wd:{{ q }}
  }
} AS %variants
WITH {
  SELECT ?variant (GROUP_CONCAT(?type_label; separator=" // ") AS ?types) WHERE {
    INCLUDE %variants
    OPTIONAL {
      ?variant wdt:P279 ?variantType . 
      ?variantType rdfs:label ?type_label .  FILTER (lang(?type_label) = 'en')
    }
  }
  GROUP BY ?variant
} AS %result 
WHERE {
  INCLUDE %result
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
}
`

 $(document).ready(function() {
     sparqlToDataTable(transcriptsSparql, "#parents");
     sparqlToDataTable(transcriptsSparql, "#children");
     sparqlToDataTable(transcriptsSparql, "#genome");
 });
</script>

{% endblock %}



{% block page_content %}
<h1 id="h1">Gene</h1>

<div id="intro"></div>

<h2 id="Parent Taxons">Parent Taxons</h2>

<table class="table table-hover" id="parents"></table>

<h2 id="Child Taxons">Child Taxons</h2>

<table class="table table-hover" id="children"></table>

<h2 id="Genome">Genome</h2>

<table class="table table-hover" id="genome"></table>



{% endblock %}
    
