{% extends "q_curation.html" %}

{% set aspect = "taxon-curation" %}

{% block in_ready %}

{{ sparql_to_table('missing-topic-tags-for-taxon-name') }}

{% endblock %}



{% block curation_panels %}

<h2 id="missing-topic-tags-for-taxon-name">Missing topic tags for taxon name</h2>

This table lists works which have this taxon's name in the title but that have not been annotated as having the main subject (<a href="https://www.wikidata.org/entity/P921">P921</a>). 

The query is arranged such that you can edit the query, comment out the line directly after the first <code>DISTINCT</code> and then rerun the query to get the results in a format that can be pasted directly into a <a href="https://quickstatements.toolforge.org/#/batch/new">new QuickStatements batch</a> to make the missing edits. See <a href="https://www.wikidata.org/wiki/Help:QuickStatements">Help:QuickStatements</a> for instructions on how to use QuickStatements.

<b>Note that it is your responsibility to check whether these edits actually make sense &mdash; watch out for work titles containing taxon names of subspecies, variants, hybrids or similar, or for cases where titles just happen to contain this taxon name string but that are not actually about this taxon.</b>

<hr>

<table class="table table-hover" id="missing-topic-tags-for-taxon-name-table"></table>

<hr>

{% endblock %}
