{% extends "base.html" %}

{% block navbar %}
<div class="navbar navbar-static-top">
    <ul class="nav nav-pills">
	<li role="presentation"><a href="..">Scholia</a></li>
	<li role="presentation"><a href="{{ url_for('app.show_author_empty') }}">Author</a></li>
	<li role="presentation"><a href="{{ url_for('app.show_work_empty') }}">Work</a></li>
	<li role="presentation"><a href="{{ url_for('app.show_organization_empty') }}">Organization</a></li>
	<li role="presentation"><a href="{{ url_for('app.show_venue_empty') }}">Venue</a></li>
	<li role="presentation"><a href="{{ url_for('app.show_series_empty') }}">Series</a></li>
	<li role="presentation"><a href="{{ url_for('app.show_publisher_empty') }}">Publisher</a></li>
	<li role="presentation"><a href="{{ url_for('app.show_sponsor_empty') }}">Sponsor</a></li>
	<li role="presentation"><a href="{{ url_for('app.show_award_empty') }}">Award</a></li>
	<li role="presentation">
	    <div class="dropdown">
		<button class="btn btn-primary dropdown-toggle" 
			type="button" data-toggle="dropdown">Topic
		    <span class="caret"></span></button>
		<ul class="dropdown-menu">
		    <li role="presentation" class="active"><a href="{{ url_for('app.show_topic_empty') }}">General</a></li>
		    <li role="presentation"><a href="{{ url_for('app.show_disease_empty') }}">Disease</a></li>
		    <li role="presentation"><a href="{{ url_for('app.show_gene_empty') }}">Gene</a></li>
		    <li role="presentation"><a href="{{ url_for('app.show_protein_empty') }}">Protein</a></li>
		    <li role="presentation"><a href="{{ url_for('app.show_pathway_empty') }}">Pathway</a></li>
		    <li role="presentation"><a href="{{ url_for('app.show_chemical_index') }}">Chemical</a></li>
		    <li role="presentation"><a href="{{ url_for('app.show_chemical_element_empty') }}">Chemical element</a></li>
		    <li role="presentation"><a href="{{ url_for('app.show_chemical_class_empty') }}">Chemical class</a></li>
		    <li role="presentation"><a href="{{ url_for('app.show_software_empty') }}">Software</a></li>
		</ul>
	    </div>
	</li>
	<li role="presentation">
	    <div class="dropdown">
		<button class="btn btn-link dropdown-toggle" 
			type="button" data-toggle="dropdown">Tools
		    <span class="caret"></span></button>
		<ul class="dropdown-menu">
		    <li role="presentation"><a href="{{ url_for('app.show_arxiv_to_quickstatements') }}">Arxiv to Quickstatements</a></li>
		    <li role="presentation"><a href="{{ url_for('app.show_q_to_bibliography_templates') }}">Q to Bibliography templates</a></li>
		</ul>
	    </div>
	</li>
	<li role="presentation"><a href="{{ url_for('app.show_about') }}">About</a></li>
    </ul>
</div>
{% endblock %}
