{% extends "q_curation.html" %}

{% set aspect = "topic-curation" %}

{% block in_ready %}

{{ sparql_to_table('missing-author-items') }}
{{ sparql_to_table('missing-pub-date') }}
{{ sparql_to_table('missing-pub-venue') }}
{{ sparql_to_table('missing-co-topic') }}


{% endblock %}



{% block curation_panels %}


<h2 id="missing-author-items">Missing author items</h2>

The authors listed below may only be represented as strings in Wikidata
with no link to Wikidata items.
Follow the link to use the Author disambiguator tool to try to resolve
the authors.

<table class="table table-hover" id="missing-author-items-table"></table>

<hr>


<h2 id="missing-pub-date">Missing publication date</h2>

These works are missing a <b>publication date</b>.

<table class="table table-hover" id="missing-pub-date-table"></table>

<hr>


<h2 id="missing-co-topic">Works on the topic with missing additional topics</h2>

The following works have only been tagged with this one topic.

<table class="table table-hover" id="missing-co-topic-table"></table>

<hr>


<h2 id="missing-pub-venue">Missing publication venue</h2>

<p>For example, here are works with this topic that do not have a <b>publication venue</b>. You can improve the data by clicking the link
  on the right and adding a <a href="https://www.wikidata.org/wiki/Property:P1433">"published in" (P1433)</a> statement if you know it:</p>

<table class="table table-hover" id="missing-pub-venue-table"></table>



{% endblock %}
