{% extends "topic_base.html" %}

{% block page_content %}

<h1>Topic</h1>

<h2>Examples</h2>

<ul>
  <li><a href="Q52">Wikipedia</a></li>
  <li><a href="Q2539">Machine learning</a></li>
  <li><a href="Q7100">Biophysics</a></li>
  <li><a href="Q7141">Cell biology</a></li>
  <li><a href="Q82264">Catalysis</a></li>
  <li><a href="Q202864">Zika virus</a></li>
  <li><a href="Q1637030">Food science</a></li>
  <li><a href="Q1659584">ImageJ</a></li>
  <li><a href="Q5227350">Data sharing</a></li>
  <li><a href="Q18123741">Infectious disease</a></li>
</ul>

<h3>Multiple topics</h3>

<ul>
  <li><a href="../topics/Q52,Q2013">Wikipedia and Wikidata</a></li>
  <li><a href="../topics/Q1187300,Q30642">Grammaticality and natural language processing</a></li>
  <li><a href="../topics/Q202864,Q5227350,Q2539">Zika virus, data sharing and machine learning</a></li>

</ul>



{% endblock %}

  
