{% extends "base.html" %}

{% block page_content %}

<h1>Topic</h1>




<h2>Examples</h2>

    <div class="card-deck mb-3">
	<div class="card mb-4 box-shadow">
	    
            <div class="card-header">
		<h4 class="my-0 font-weight-normal">Topic profiles</h4>
            </div>
            <div class="card-body">
		<dl>
		    <dt><a href="Q52">Wikipedia</a></dt>
		    <dd>
		      Research articles and other works about the
		      online encyclopedia as well as their authors and
		      co-occuring topics.

		    </dd>
		    
		    <dt>
		      <a href="Q2539">Machine learning</a>
		    </dt>
		    <dd>
		      The scientific/technical field related to data
		      science and statistics.
		    </dd>
		    
		    <dt>
		      <a href="Q7100">Biophysics</a>
		    </dt>
		    <dd>
		      View the scientific field of biophysics.
		    </dd>
    
		    <dt>
		      <a href="Q7141">Cell biology</a>
		    </dt>
		    <dd>
		      A field within biology. There
		      is a considerable number of results returned for
		      this topic.
		    </dd>

		    <dt>
		      <a href="Q82264">Catalysis</a>
		    </dt>
		    <dd>
		      Chemistry
		    </dd>

		    <dt>
		      <a href="Q1637030">Food science</a>
		    </dt>
		    <dd>
		      
		    </dd>

		    <dt>
		      <a href="Q1659584">ImageJ</a>
		    </dt>
		    <dd>
		      A specific image processing program used in research.
		    </dd>

		    <dt>
		      <a href="Q5227350">Data sharing</a>
		    </dt>
		    <dd>
		      Topic particular about how research data is shared.
		    </dd>

		    <dt>
		      <a href="Q18123741">Infectious disease</a>
		    </dt>
		    <dd>
		      Malaria, pneumonia, West Nile virus, etc. This
		      topic is very broad and returns many results
		      such that certain panels may time out.
		    </dd>

		    <dt>
		      <a href="Q45340488">Scholia</a>
		    </dt>
		    <dd>
		      View information about Scholia (this website) as
		      a topic: the research articles about Scholia and
		      researchers publishing about the Scholia.
		    </dd>

		</dl>
            </div>

	</div>
	    
        <div class="card mb-4 box-shadow">
	    <div class="card-header">
		<h4 class="my-0 font-weight-normal">Comparisons</h4>
	    </div>
	    <div class="card-body">
		<p>Scholia can show multiple topics together.</p>
		
		<dl>
		    <dt>
		      <a href="../topics/Q52,Q2013">Wikipedia and Wikidata</a>
		    </dt>
		    <dd>
			Compare the online encyclopedia with the
			online open knowledge graph.  
		    </dd>
		</dl>

		<dt>
		  <a href="../topics/Q1187300,Q30642">Grammaticality and natural language processing</a>
		<dd>
		    Show grammaticallity and natural language processing.
		</dd>

		<dt>
		  <a href="../topics/Q202864,Q5227350,Q2539">Zika virus, data sharing and machine learning</a>
		</dt>
		<dd>
		    Show Zika virus, data sharing and machine learning.
		</dd>




	    </div>
        </div>
	
        <div class="card mb-4 box-shadow">
	    <div class="card-header">
		<h4 class="my-0 font-weight-normal">Specialized topics</h4>
	    </div>
	    <div class="card-body">
		<dl>
		  <dt>
		    <a href="../chemical/">Chemical</a>
		  </dt>
		  <dd>
		    Chemical substrance
		  </dd>
		  
		  <dt>
		    
		  </dt>
		  <dd>
		    
		  </dd>

		  <dt>
		    <a href="../use/">Use</a>
		  </dt>
		  <dd>
		    Usage of software, datasets, etc.
		  </dd>
		  
		</dl>

	    </div>
        </div>
    </div>
</div>




{% endblock %}

  
