{% extends "base.html" %}

{% block navbar %}
<div class="navbar navbar-static-top">
    <ul class="nav nav-pills">
	<li role="presentation"><a href="..">Scholia</a></li>
	<li role="presentation"><a href="{{ url_for('app.show_author_index') }}">Author</a></li>
	<li role="presentation"><a href="{{ url_for('app.show_work_index') }}">Work</a></li>
	<li role="presentation"><a href="{{ url_for('app.show_organization_index') }}">Organization</a></li>
	<li role="presentation"><a href="{{ url_for('app.show_venue_index') }}">Venue</a></li>
	<li role="presentation"><a href="{{ url_for('app.show_series_index') }}">Series</a></li>
	<li role="presentation"><a href="{{ url_for('app.show_publisher_index') }}">Publisher</a></li>
	<li role="presentation"><a href="{{ url_for('app.show_sponsor_index') }}">Sponsor</a></li>
	<li role="presentation"><a href="{{ url_for('app.show_award_index') }}">Award</a></li>
	<li role="presentation">
	    <div class="dropdown">
		<button class="btn btn-primary dropdown-toggle" 
			type="button" data-toggle="dropdown">Topic
		    <span class="caret"></span></button>
		<ul class="dropdown-menu">
		    <li role="presentation" class="active"><a href="{{ url_for('app.show_topic_index') }}">General</a></li>
		    <li role="presentation"><a href="{{ url_for('app.show_disease_index') }}">Disease</a></li>
		    <li role="presentation"><a href="{{ url_for('app.show_gene_index') }}">Gene</a></li>
		    <li role="presentation"><a href="{{ url_for('app.show_protein_index') }}">Protein</a></li>
		    <li role="presentation"><a href="{{ url_for('app.show_pathway_index') }}">Pathway</a></li>
		    <li role="presentation"><a href="{{ url_for('app.show_chemical_index') }}">Chemical</a></li>
		    <li role="presentation"><a href="{{ url_for('app.show_chemical_element_index') }}">Chemical element</a></li>
		    <li role="presentation"><a href="{{ url_for('app.show_chemical_class_index') }}">Chemical class</a></li>
		    <li role="presentation"><a href="{{ url_for('app.show_software_index') }}">Software</a></li>
		</ul>
	    </div>
	</li>
	<li role="presentation">
	    <div class="dropdown">
		<button class="btn btn-link dropdown-toggle" 
			type="button" data-toggle="dropdown">Tools
		    <span class="caret"></span></button>
		<ul class="dropdown-menu">
		    <li role="presentation"><a href="{{ url_for('app.show_arxiv_to_quickstatements') }}">Arxiv to Quickstatements</a></li>
		    <li role="presentation"><a href="{{ url_for('app.show_q_to_bibliography_templates') }}">Q to Bibliography templates</a></li>
		</ul>
	    </div>
	</li>
	<li role="presentation"><a href="{{ url_for('app.show_about') }}">About</a></li>
    </ul>
</div>
{% endblock %}
