{% extends "base.html" %}

{% set aspect = "uses" %}


{% block in_ready %}

{{ sparql_to_table('list-of-uses',
    options={
	 "linkPrefixes": {
	     "use": "../use/",
	     "example_work": "../work/",
         }
    }) }}

{{ sparql_to_table('list-of-works',
    options={
        "linkPrefixes": { "work": "../work/" }
    }) }}

{{ sparql_to_table('authors', options={
	 "linkPrefixes": {
	     "author": "../author/",
	     "example_work": "../work/",
         }
     }) }}

{% endblock %}



{% block page_content %}

<h1 id="h1">Uses</h1>

<div id="intro"></div>

<table class="table table-hover" id="list-of-uses-table"></table>


<h2 id="list-of-works">List of works with descriptions of uses</h2>

<table class="table table-hover" id="list-of-works-table"></table>


<h2 id="authors">Authors</h2>

<table class="table table-hover" id="authors-table"></table>



{% endblock %}
