{% extends "base.html" %}

{% block page_content %}

<h1>Venues</h1>

Scientific journals, proceedings, ...

<h2>Examples</h2>

<ul>
    <li><a href="Q4775205">Antiquity</a></li>
    <li><a href="Q752075">Astronomy and Astrophysics</a></li>
    <li><a href="Q757509">Atmospheric Chemistry and Physics</a></li>
    <li><a href="Q2000008">eLife</a></li>
    <li><a href="Q6294930">Journal of Cheminformatics</a></li>
    <li><a href="Q1247946">Journal of Personality and Social Psychology</a></li>
    <li><a href="Q180445">Nature</a></li>
    <li><a href="Q1981225">NeuroImage</a></li>
    <li><a href="Q564954">PLOS ONE</a></li>
    <li><a href="Q219980">ZooKeys</a></li>
</ul>


<h3>Multiple venues</h3>

<ul>
    <li><a href="../venues/Q1981225,Q5936947">NeuroImage and Human Brain Mapping</a></li>
    <li><a href="../venues/Q180445,Q192864,Q1146531">Nature, Science and PNAS</a></li>
</ul>


{% endblock %}

  
