{% extends "base.html" %}

{% block navbar %}
<div class="navbar navbar-static-top">
    <ul class="nav nav-pills">
	<li role="presentation"><a href="{{ url_for('app.index') }}">Scholia</a></li>
	<li role="presentation"><a href="{{ url_for('app.show_author_index') }}">Author</a></li>
	<li role="presentation"><a href="{{ url_for('app.show_work_index') }}">Work</a></li>
	<li role="presentation"><a href="{{ url_for('app.show_organization_index') }}">Organization</a></li>
	<li role="presentation" class="active"><a href="{{ url_for('app.show_venue_index') }}">Venue</a></li>
	<li role="presentation"><a href="{{ url_for('app.show_series_index') }}">Series</a></li>
	<li role="presentation"><a href="{{ url_for('app.show_publisher_index') }}">Publisher</a></li>
	<li role="presentation"><a href="{{ url_for('app.show_sponsor_index') }}">Sponsor</a></li>
	<li role="presentation"><a href="{{ url_for('app.show_award_index') }}">Award</a></li>
	<li role="presentation"><a href="{{ url_for('app.show_topic_index') }}">Topic</a></li>
	<li role="presentation"><a href="{{ url_for('app.show_about') }}">About</a></li>
    </ul>
</div>
{% endblock %}

