{% extends "base.html" %}

{% set aspect = "venue_cito" %}

{% block in_ready %}

{{ sparql_to_iframe('articles-by-intention') }}
{{ sparql_to_iframe('incoming-bubble') }}
{{ sparql_to_table('incoming',
     options={
         "linkPrefixes": { "intention": "../../cito/" }
     }
   )
}}
{{ sparql_to_iframe('outgoing-bubble') }}
{{ sparql_to_table('outgoing',
     options={
         "linkPrefixes": { "intention": "../../cito/" }
     }
   )
}}
{{ sparql_to_table('most-reused-articles',
     options={
         "linkPrefixes": { "citedArticle": "../../work/" },
         "linkSuffixes": { "citedArticle": "/cito" },
     }
   ) }}

{% endblock %}

{% block page_content %}
<h1 id="h1">Venue</h1>

This page shows the use of the CiTO ontology in citation annotation in this venue.
The various sections show what intention types are used by article in this venue,
the intentions why articles in this venue are cited (incoming) and the intentions
why articles in this venue are citing other articles (outgoing).

<h2 id="articles-by-intention-header">Number of articles using a particular intention type</h2>

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" id="articles-by-intention-iframe"></iframe>
</div>

<h2 id="incoming-bubble-header">Incoming citations</h2>

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" id="incoming-bubble-iframe"></iframe>
</div>

<table class="table table-hover" id="incoming-table"></table>

<h2 id="outgoing-bubble-header">Outgoing citations</h2>

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" id="outgoing-bubble-iframe"></iframe>
</div>

<table class="table table-hover" id="outgoing-table"></table>

<h2 id="most-reused-articles-header">Most reused articles</h2>

This list shows articles most cited because of 'uses method in', 'cites as data source',
'uses data from'. This number is there always equals or lower than the total number of
citations to this article.

<table class="table table-hover" id="most-reused-articles-table"></table>

{% endblock %}
    
