{% extends "base.html" %}

{% set aspect = "venue_cito" %}

{% block in_ready %}

{{ sparql_to_iframe('articles-by-intention') }}
{{ sparql_to_iframe('incoming-bubble') }}
{{ sparql_to_table('incoming',
     options={
         "linkPrefixes": { "intention": "../../cito/" }
     }
   )
}}
{{ sparql_to_iframe('outgoing-bubble') }}
{{ sparql_to_table('outgoing',
     options={
         "linkPrefixes": { "intention": "../../cito/" }
     }
   )
}}

{% endblock %}

{% block page_content %}
<h1 id="h1">Venue</h1>

<h2 id="articles-by-intention-header">Number of articles by intention type</h2>

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" id="articles-by-intention-iframe"></iframe>
</div>

<h2 id="incoming-bubble-header">Incoming citations</h2>

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" id="incoming-bubble-iframe"></iframe>
</div>

<table class="table table-hover" id="incoming-table"></table>

<h2 id="outgoing-bubble-header">Outgoing citations</h2>

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" id="outgoing-bubble-iframe"></iframe>
</div>

<table class="table table-hover" id="outgoing-table"></table>

{% endblock %}
    
