{% extends "base.html" %}

{% block page_content %}

<h1>Venues</h1>

Scientific journals, proceedings, ...

<h2>Examples</h2>

<ul>
    <li><a href="Q4775205">Antiquity</a></li>
    <li><a href="Q752075">Astronomy and Astrophysics</a></li>
    <li><a href="Q757509">Atmospheric Chemistry and Physics</a></li>
    <li><a href="Q2000008">eLife</a></li>
    <li><a href="Q15756118">Indoor Air</a></li>
    <li><a href="Q15749959">International Journal for Equity in Health</a></li>
    <li><a href="Q15749949">International Gambling Studies</a></li>
    <li><a href="Q6294930">Journal of Cheminformatics</a></li>
    <li><a href="Q10310912">Journal of Climate</a></li>
    <li><a href="Q1247946">Journal of Personality and Social Psychology</a></li>
    <li><a href="Q15761931">Journal of Sports Sciences</a></li>
    <li><a href="Q1251128">Journal of Virology</a></li>
    <li><a href="Q15757263">Marine Policy</a></li>
    <li><a href="Q7070485">Nutrients</a></li>
    <li><a href="Q15763433">Reading and Writing</a></li>
    <li><a href="Q20895800">Research Ideas and Outcomes</a></li>
    <li><a href="Q166544">Science, Technology & Human Values</a></li>
    <li><a href="Q3478643">Sensors</a></li>
    <li><a href="Q15813953">Sustainability</a></li>
    <li><a href="Q219980">ZooKeys</a></li>    
</ul>


<h3>Multiple venues</h3>

<ul>
    <li><a href="../venues/Q15751424,Q15757725,Q15751497">Annals of Tourism Research, Journal of Sustainable Tourism, and Tourism Management</a></li>
    <li><a href="../venues/Q15755805,Q15757650">Biogeosciences and Biogeochemistry</a></li>
    <li><a href="../venues/Q1981225,Q5936947">NeuroImage and Human Brain Mapping</a></li>
</ul>


{% endblock %}

  
