{% extends "venue_base.html" %}


{% block scripts %}
{{super()}}

<script type="text/javascript">
 recentlyPublishedWorksSparql = `
# Recent works published in venue
SELECT ?publication_date ?work ?workLabel where {
  ?work wdt:P1433 wd:{{ q }} .
  OPTIONAL {
    ?work wdt:P577 ?publication_datetime . 
    BIND(xsd:date(?publication_datetime) AS ?publication_date)
  }
  SERVICE wikibase:label { bd:serviceParam wikibase:language "en,da,de,es,fr,jp,nl,no,ru,sv,zh" . } 
}
ORDER BY DESC(?publication_date)
LIMIT 200
`

 topicsSparql = `
#defaultView:Table
# Count of topics in published work in specified venue
SELECT ?count ?topic ?topicLabel 
WITH {
  SELECT (COUNT(?work) as ?count) ?topic WHERE {
    ?work wdt:P1433 wd:{{ q }} .
    ?work wdt:P921 ?topic .
  }
  GROUP BY ?topic
} AS %result
WHERE {
  INCLUDE %result
  SERVICE wikibase:label { bd:serviceParam wikibase:language "en,da,de,es,fr,jp,nl,no,ru,sv,zh" . } 
}
ORDER BY DESC(?count)
`

 prolificAuthorsSparql = `
# Prolific authors for a specific journal
SELECT ?count ?author ?authorLabel ?orcid
WITH {
  # Count the number of works author by the author publishing in the journal
  SELECT ?author (COUNT(?work) AS ?count) WHERE {
    ?work wdt:P50 ?author ;
          wdt:P1433 wd:{{ q }} .
  }
  GROUP BY ?author
} AS %result
WHERE {
  INCLUDE %result 
          
  # Include optional ORCID iD
  OPTIONAL { ?author wdt:P496 ?orcid . }
  
  # Label the results
  SERVICE wikibase:label { bd:serviceParam wikibase:language "en,da,de,es,fr,jp,no,ru,sv,zh" . } 
}
ORDER BY DESC(?count)
LIMIT 50
 `

 citedVenuesSparql = `
 # Cited venues from specific journal
 SELECT ?count ?cited_journal ?cited_journalLabel
 WITH {
     SELECT (COUNT(?cited_work) AS ?count) ?cited_journal WHERE {
    ?work wdt:P1433 wd:{{ q }} .
	?work wdt:P2860 ?cited_work .
	?cited_work wdt:P1433 ?cited_journal . 
					OPTIONAL {
      ?work wdt:P577 ?publication_datetime .
				     BIND(xsd:date(?publication_datetime) AS ?publication_date)
					}
     }
     GROUP BY ?cited_journal
 } AS %result
 WHERE {
     INCLUDE %result
     SERVICE wikibase:label { bd:serviceParam wikibase:language "en,da" . } 
 }
 ORDER BY DESC(?count)
 LIMIT 200
 `

 citingVenuesSparql = `
 # Venues citing articles from this specific journal
 SELECT (COUNT(?citing_work) as ?count) ?citing_journal ?citing_journalLabel WHERE {
    ?work wdt:P1433 wd:Q6294930 .
    ?citing_work wdt:P2860 ?work .
    ?citing_work wdt:P1433 ?citing_journal .
    SERVICE wikibase:label { bd:serviceParam wikibase:language "en,da,de,es,fr,jp,nl,no,ru,sv,zh" . } 
  }
  GROUP BY ?citing_journal ?citing_journalLabel
  ORDER BY desc(?count)
  LIMIT 50
  `

 mostCitedWorksSparql = `
  # Most cited works published in venue
  SELECT (COUNT(?citing_work) AS ?count) ?work ?workLabel  WHERE {
    ?work wdt:P1433 wd:Q6294930.
    ?citing_work wdt:P2860 ?work.
    SERVICE wikibase:label { bd:serviceParam wikibase:language "en,da,de,es,fr,jp,nl,no,ru,sv,zh" . } 
  }
  GROUP BY ?work ?workLabel
  ORDER BY DESC(?count)
  LIMIT 20
  `

 mostCitedAuthorsSparql = `
  # Most cited works published in venue
  SELECT (COUNT(?citing_work) AS ?count) ?author ?authorLabel WHERE {
    ?work wdt:P1433 wd:Q6294930 .
    ?citing_work wdt:P2860 ?work .
    ?work wdt:P50 ?author . 
    SERVICE wikibase:label { bd:serviceParam wikibase:language "en,da,de,es,fr,jp,nl,no,ru,sv,zh" . } 
  }
  GROUP BY ?author ?authorLabel
  ORDER BY DESC(?count)
  LIMIT 20
  `

 $(document).ready(function() {
     sparqlToDataTable(recentlyPublishedWorksSparql, "#recently-published-works");
     sparqlToDataTable(topicsSparql, "#topics");
     sparqlToDataTable(prolificAuthorsSparql, "#prolific-authors");
     sparqlToDataTable(citedVenuesSparql, "#cited-venues");
     sparqlToDataTable(citingVenuesSparql, "#citing-venues");
     sparqlToDataTable(mostCitedWorksSparql, "#most-cited-works");
     sparqlToDataTable(mostCitedAuthorsSparql, "#most-cited-authors");
 });
</script>


{% endblock %}



{% block page_content %}
<h1 id="h1">Venue</h1>

<div id="intro"></div>


<h2>Recently published works</h2>

<table class="table table-hover" id="recently-published-works"></table>


<h2 id="Topics">Topics</h2>

<table class="table table-hover" id="topics"></table>



<h2 id="Authors">Authors</h3>

<h3 id="Author images">Author images</h2>

<div class="embed-responsive embed-responsive-4by3">
    <iframe class="embed-responsive-item" src="https://query.wikidata.org/embed.html#%23defaultView%3AImageGrid%0Aselect%20%28sample%28%3Fimage%29%20as%20%3Fanimage%29%20%3Fauthor%20%3FauthorLabel%20%3Fcount%20where%20%7B%0A%20%20%7B%0A%20%20%20%20select%20%3Fauthor%20%28count%28%3Fwork%29%20as%20%3Fcount%29%20where%20%7B%0A%20%20%20%20%20%20%3Fwork%20wdt%3AP1433%20wd%3A{{ q }}%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20wdt%3AP50%20%3Fauthor%20.%0A%20%20%20%20%7D%20group%20by%20%3Fauthor%0A%20%20%7D%0A%20%20%3Fauthor%20wdt%3AP18%20%3Fimage%20.%0A%20%20SERVICE%20wikibase%3Alabel%20%7B%20bd%3AserviceParam%20wikibase%3Alanguage%20%22en%2Cda%2Cde%2Cfr%2Czh%2Cjp%2Ces%22%20.%20%7D%20%0A%7D%0Agroup%20by%20%3Fauthor%20%3FauthorLabel%20%3Fcount%0Aorder%20by%20desc%28%3Fcount%29%0Alimit%2050"></iframe>
</div>


<h3 id="Prolific authors">Prolific authors</h3>

<table class="table table-hover" id="prolific-authors"></table>


<h2 id="Citations">Citations</h2>

<h3 id="Most cited articles"
    title="Most cited articles published in the venue, where the citations may come from any venue">Most cited articles</h3>

<table class="table table-hover" id="most-cited-works"></table>

<h3 id="Most cited authors"
    title="Most cited authors based on articles published in the venue and where citations may come from any venue">Most cited authors</h3>

<table class="table table-hover" id="most-cited-authors"></table>

<h3 id="Citation distribution">Citation distribution</h2>

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://query.wikidata.org/embed.html#%23defaultView%3ALineChart%0Aselect%20%3Fnumber_of_citations%20%28count%28%3Fwork%29%20as%20%3Fcount%29%20where%20%7B%0A%20%20%7B%0A%20%20%20%20SELECT%20%3Fwork%20%28COUNT%28%3Fciting_work%29%20AS%20%3Fnumber_of_citations%29%0A%20%20%20%20WHERE%20%7B%0A%20%20%20%20%20%20%3Fwork%20wdt%3AP1433%20wd%3A{{ q }}.%20%20%20%0A%20%20%20%20%20%20optional%20%7B%20%3Fciting_work%20wdt%3AP2860%20%3Fwork%20.%20%7D%0A%20%20%20%20%7D%0A%20%20%20%20GROUP%20BY%20%3Fwork%20%0A%20%20%7D%0A%7D%20%0Agroup%20by%20%3Fnumber_of_citations%0Aorder%20by%20desc%28%3Fnumber_of_citations%29%0A"></iframe>
</div>



<h3 id="Cited venues">Cited venues</h3>

<table class="table table-hover" id="cited-venues"></table>


<h3 id="Venues cited from">Venues cited from</h3>

<table class="table table-hover" id="citing-venues"></table>


<h2>Author gender distribution</h2>

<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://query.wikidata.org/embed.html#select%20%28count%28%3Fauthor%29%20as%20%3Fcount%29%20%3FgenderLabel%20%20where%20%7B%0A%20%20%3Fwork%20wdt%3AP1433%20wd%3A{{ q }}%20.%0A%20%20%3Fwork%20wdt%3AP50%20%3Fauthor%20.%0A%20%20%3Fauthor%20wdt%3AP21%20%3Fgender%20.%0A%20%20SERVICE%20wikibase%3Alabel%20%7B%20bd%3AserviceParam%20wikibase%3Alanguage%20%22en%2Cda%22%20.%20%7D%20%0A%7D%0Agroup%20by%20%3Fgender%20%3FgenderLabel"></iframe>
</div>

{% endblock %}
    
