{% extends "work_base.html" %}


{% block scripts %}
{{super()}}

<script type="text/javascript">
 listOfWorksSparql = `
SELECT ?work ?workLabel ?example_author ?example_authorLabel
WITH {
  SELECT ?work (SAMPLE(?author) AS ?example_author) WHERE {
    VALUES ?work { {% for q in qs %} wd:{{ q }} {% endfor %} }
    OPTIONAL { ?work wdt:P50 ?author }
  }
  GROUP BY ?work
} AS %result
WHERE {
  INCLUDE %result
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en,da,es,fr,nl,no,ru,sv,zh". }
}
`

  otherWorksCitingAllTheWorksSparql = `
SELECT ?date ?work ?workLabel
WITH {
  SELECT (MIN(?dates) AS ?date) ?work 
  WHERE {
    {% for q in qs %} ?work wdt:P2860 wd:{{ q }} . {% endfor %}
    OPTIONAL {
      ?work wdt:P577 ?datetimes .
      BIND(xsd:date(?datetimes) AS ?dates)
    }
  }
  GROUP BY ?work
  ORDER BY DESC(?date)
  LIMIT 1000
} AS %results
WHERE {
  INCLUDE %results
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en,da,es,fr,nl,no,ru,sv,zh". }
}
ORDER BY DESC(?date)
`

 $(document).ready(function() {
     sparqlToDataTable(listOfWorksSparql, "#list-of-works");
     sparqlToDataTable(otherWorksCitingAllTheWorksSparql,
		       "#other-works-citing-all-the-works");
 });


</script>

{% endblock %}



{% block page_content %}

<h1 id="h1">Works</h1>

<div id="intro"></div>


<table class="table table-hover" id="list-of-works"></table>


<h2>Other works citings all the works</h2>

<table class="table table-hover" id="other-works-citing-all-the-works"></table>



{% endblock %}
