{% extends "base.html" %}

{% set aspect = "work-cito" %}

{% block in_ready %}

{{ sparql_to_table('cito-incoming',
    options={
    "linkPrefixes": {
	     "intention": "../../cito/",
     }})}}

{{ sparql_to_iframe('cito-incoming-chart') }}

{% endblock %}

{% block page_content %}
<h1 id="h1">Work</h1>

<h2 id="cito-incoming-header">Reasons why this article is cited</h2>

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" id="cito-incoming-chart-iframe"></iframe>
</div>

<table class="table table-hover" id="cito-incoming-table"></table>

{% endblock %}
    
