{% extends "base.html" %}


{% block scripts %}
{{super()}}

<script type="text/javascript">
  citoIncomingSparql = `
SELECT ?citingArticle ?citingArticleLabel ?intention ?intentionLabel WHERE {
  VALUES ?CITEDARTICLE { wd:{{ q }} }
  VALUES ?intention { wd:{{ q2 }} }
  ?citingArticle p:P2860 ?citationStatement .
  ?citationStatement pq:P3712 ?intention ;
                     ps:P2860 ?CITEDARTICLE .
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
}`

  $(document).ready(function() {
      sparqlToDataTable(citoIncomingSparql, "#cito-incoming", {
         linkPrefixes: {
             intention: "../../cito/",
         }
      });
  });
</script>

{% endblock %}

{% block page_content %}
<h1 id="h1">Work</h1>

<h2>Reasons why this article is cited</h2>

<table class="table table-hover" id="cito-incoming"></table>

{% endblock %}
    
