{% extends "base.html" %}

{% block navbar %}
<div class="navbar navbar-static-top">
    <ul class="nav nav-pills">
	<li role="presentation"><a href="..">Scholia</a></li>
	<li role="presentation"><a href="../author/">Author</a></li>
	<li role="presentation" class="active"><a href="../work/">Work</a></li>
	<li role="presentation"><a href="../organization/">Organization</a></li>
	<li role="presentation"><a href="../venue/">Venue</a></li>
	<li role="presentation"><a href="../series/">Series</a></li>
	<li role="presentation"><a href="../publisher/">Publisher</a></li>
	<li role="presentation"><a href="../sponsor/">Sponsor</a></li>
	<li role="presentation"><a href="../award/">Award</a></li>
	<li role="presentation"><a href="../topic/">Topic</a></li>
	<li role="presentation"><a href="../about">About</a></li>
    </ul>
</div>
{% endblock %}

