{% extends "q_curation.html" %}

{% set aspect = "work-curation" %}

{% block in_ready %}

{{ sparql_to_table('author-resolving') }}

{{ sparql_to_table('missing-orcid') }}


{% endblock %}


{% block curation_panels %}

<h2 id="author-resolving">Author resolving</h2>

The authorship may be represented as an author name string rather than a Wikidata item.
To try to resolve the author name strings, follow the links below to use the Author disambiguator tool,
which also has a <a href="https://author-disambiguator.toolforge.org/work_item_oauth.php?id={{ q }}">dedicated page for this work</a>.

<table class="table table-hover" id="author-resolving-table"></table>


<h2 id="missing-orcid">Missing ORCID</h2>

Authors with missing ORCID.

<table class="table table-hover" id="missing-orcid-table"></table>


<hr>


{% endblock %}
