@media only screen and (prefers-color-scheme: dark) {
    :root {
        --background: #222;
        --background-hover: #303030;
        --color-body: #e1e1e1;
        --color-link: #6cb1ff;
        --color-link-hover: #2d86ff;
        --divider: #6C757D;
        --outline: rgba(255, 255, 255, 0.125);
        --background-warning:#866504 ;
        --border-warning: #4d3900;
        --color-warning: #fff3cd;
    }

    .dropdown-menu {
        box-shadow: 0px 0px 2px black;
    }

    iframe {
        filter: invert(100%);
    }

    .page-item.active .page-link {
        background-color: var(--theme-blue);
        border-color: var(--theme-blue);
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
}
