name: Python package

on: [push, workflow_dispatch]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: [3.7, 3.8, 3.9]

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          persist-credentials: false
      - name: Install lxml dependencies
        run: sudo apt install libxml2-dev libxslt-dev
      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python }}
      - name: Install Cython for lxml installation
        run: pip install Cython
      - name: Install Tox and any other packages
        run: pip install tox
      - name: Run Tox
        run: tox -e py  # Run tox using the version of Python in `PATH`
      - name: Run flake8
        run: tox -e flake8
      - name: Lint Code Base
        uses: github/super-linter@v4
        env:
          FILTER_REGEX_EXCLUDE: .*(\.github|/docs/|/notebooks/|/scholia/app/static/).*
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
